Repository aquasecurity/tracee: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

# Codecov configuration for Tracee
# This file configures how code coverage is measured and reported

coverage:
  status:
    project:
      default:
        target: auto         # Start with current coverage as baseline
        threshold: 1%        # Allow 1% decrease without failing
        if_ci_failed: error  # Fail if CI failed
    patch:
      default:
        target: 60%          # New code should have reasonable coverage
        threshold: 10%       # More flexibility for initial adoption
        if_ci_failed: error

  ignore:
    # Ignore generated files and vendor dependencies
    - "3rdparty/**/*"
    - "vendor/**/*"
    - "**/*.pb.go"
    - "**/mock_*.go"
    - "**/*_mock.go"
    - "**/testdata/**/*"
    - "tests/**/*"
    - "**/*_test.go"
    # Ignore build and CI scripts
    - "scripts/**/*"
    - "builder/**/*"
    - "deploy/**/*"
    # Ignore documentation
    - "docs/**/*"
    - "examples/**/*"
    - "brand/**/*"
    # Runtime enrichers cleanup is tested via integration tests
    - "pkg/containers/runtime/docker.go"
    - "pkg/containers/runtime/containerd.go"
    - "pkg/containers/runtime/crio.go"

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: true

flags:
  unit:
    paths:
      - cmd/
      - pkg/
      - signatures/
  integration:
    paths:
      - cmd/
      - pkg/

github_checks:
  annotations: true

feat(detectors): migrate cgroup_release_agent_modification signature to detector
  detectors/cgroup_release_agent_modification.go
  detectors/cgroup_release_agent_modification_test.go
  signatures/golang/cgroup_release_agent_modification.go
  signatures/golang/cgroup_release_agent_modification_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate anti_debugging_ptraceme signature to detector framework
  detectors/anti_debugging.go
  detectors/anti_debugging_test.go
  detectors/go.mod
  detectors/go.sum
  signatures/golang/anti_debugging_ptraceme.go
  signatures/golang/anti_debugging_ptraceme_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate ptrace_code_injection signature to detector
  detectors/ptrace_code_injection.go
  detectors/ptrace_code_injection_test.go
  signatures/golang/export.go
  signatures/golang/ptrace_code_injection.go
  signatures/golang/ptrace_code_injection_test.go
Due: unit

feat(detectors): migrate proc_kcore_read signature to detector framework
  detectors/proc_kcore_read.go
  detectors/proc_kcore_read_test.go
  signatures/golang/export.go
  signatures/golang/proc_kcore_read.go
  signatures/golang/proc_kcore_read_test.go
Due: unit

feat(detectors): migrate syscall_table_hooking signature to detector
  detectors/syscall_table_hooking.go
  detectors/syscall_table_hooking_test.go
  signatures/golang/export.go
  signatures/golang/syscall_table_hooking.go
  signatures/golang/syscall_table_hooking_test.go
Due: unit

feat(detectors): migrate disk_mount signature to detector
  detectors/disk_mount.go
  detectors/disk_mount_test.go
  signatures/golang/disk_mount.go
  signatures/golang/disk_mount_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate k8s_service_account_token signature to detector
  detectors/k8s_service_account_token.go
  detectors/k8s_service_account_token_test.go
  signatures/golang/export.go
  signatures/golang/k8s_service_account_token.go
  signatures/golang/k8s_service_account_token_test.go
Due: unit

feat(detectors): migrate fileless_execution signature to detector
  detectors/fileless_execution.go
  detectors/fileless_execution_test.go
  signatures/golang/export.go
  signatures/golang/fileless_execution.go
  signatures/golang/fileless_execution_test.go
Due: unit

feat(detectors): migrate hooked_seq_ops to detector framework
  detectors/hooked_seq_ops.go
  detectors/hooked_seq_ops_test.go
Due: none

feat(detectors): migrate aslr_inspection signature to detector framework
  detectors/aslr_inspection.go
  detectors/aslr_inspection_test.go
  signatures/golang/aslr_inspection.go
  signatures/golang/aslr_inspection_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate process_vm_write_code_injection signature to detector
  detectors/process_vm_write_code_injection.go
  detectors/process_vm_write_code_injection_test.go
  signatures/golang/export.go
  signatures/golang/process_vm_write_code_injection.go
  signatures/golang/process_vm_write_code_injection_test.go
Due: unit

test(detectors): add common test helpers
  detectors/test_helpers.go
Due: none

feat(detectors): migrate proc_mem_access signature to detector
  detectors/proc_mem_access.go
  detectors/proc_mem_access_test.go
  signatures/golang/export.go
  signatures/golang/proc_mem_access.go
  signatures/golang/proc_mem_access_test.go
Due: unit

feat(detectors): migrate docker_abuse signature to detector
  detectors/docker_abuse.go
  detectors/docker_abuse_test.go
  signatures/golang/docker_abuse.go
  signatures/golang/docker_abuse_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate proc_mem_code_injection signature to detector
  detectors/proc_mem_code_injection.go
  detectors/proc_mem_code_injection_test.go
  signatures/golang/export.go
  signatures/golang/proc_mem_code_injection.go
  signatures/golang/proc_mem_code_injection_test.go
Due: unit

feat(detectors): migrate scheduled_task_modification signature to detector
  detectors/scheduled_task_modification.go
  detectors/scheduled_task_modification_test.go
  signatures/golang/export.go
  signatures/golang/scheduled_task_modification.go
  signatures/golang/scheduled_task_modification_test.go
Due: unit

feat(detectors): migrate stdio_over_socket signature to detector
  detectors/stdio_over_socket.go
  detectors/stdio_over_socket_test.go
  signatures/golang/export.go
  signatures/golang/stdio_over_socket.go
  signatures/golang/stdio_over_socket_test.go
Due: unit

feat(detectors): migrate ld_preload signature to detector
  detectors/ld_preload.go
  detectors/ld_preload_test.go
  signatures/golang/export.go
  signatures/golang/ld_preload.go
  signatures/golang/ld_preload_test.go
Due: unit

feat(detectors): migrate sched_debug_recon signature to detector
  detectors/sched_debug_recon.go
  detectors/sched_debug_recon_test.go
  signatures/golang/export.go
  signatures/golang/sched_debug_recon.go
  signatures/golang/sched_debug_recon_test.go
Due: unit

feat(detectors): migrate illegitimate_shell signature to detector
  detectors/illegitimate_shell.go
  detectors/illegitimate_shell_test.go
  signatures/golang/export.go
  signatures/golang/illegitimate_shell.go
  signatures/golang/illegitimate_shell_test.go
Due: unit

feat(detectors): migrate default_loader_modification signature to detector
  detectors/default_loader_modification.go
  detectors/default_loader_modification_test.go
  signatures/golang/default_loader_modification.go
  signatures/golang/default_loader_modification_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate cgroup_notify_on_release_modification signature to detector
  detectors/cgroup_notify_on_release_modification.go
  detectors/cgroup_notify_on_release_modification_test.go
  signatures/golang/cgroup_notify_on_release_modification.go
  signatures/golang/cgroup_notify_on_release_modification_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate hidden_file_created signature to detector framework
  detectors/go.mod
  detectors/go.sum
  detectors/hidden_file_created.go
  detectors/hidden_file_created_test.go
  signatures/golang/export.go
  signatures/golang/hidden_file_created.go
  signatures/golang/hidden_file_created_test.go
Due: unit

feat(detectors): migrate dynamic_code_loading signature to detector
  detectors/dynamic_code_loading.go
  detectors/dynamic_code_loading_test.go
  signatures/golang/dynamic_code_loading.go
  signatures/golang/dynamic_code_loading_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate rcd_modification signature to detector
  detectors/rcd_modification.go
  detectors/rcd_modification_test.go
  signatures/golang/export.go
  signatures/golang/rcd_modification.go
  signatures/golang/rcd_modification_test.go
Due: unit

feat(detectors): migrate kernel_module_loading signature to detector
  detectors/kernel_module_loading.go
  detectors/kernel_module_loading_test.go
  signatures/golang/export.go
  signatures/golang/kernel_module_loading.go
  signatures/golang/kernel_module_loading_test.go
Due: unit

feat(detectors): migrate sudoers_modification signature to detector
  detectors/sudoers_modification.go
  detectors/sudoers_modification_test.go
  signatures/golang/export.go
  signatures/golang/sudoers_modification.go
  signatures/golang/sudoers_modification_test.go
Due: unit

feat(events): parse mmap flags and setns nstype arguments
  common/parsers/data_parsers.go
  common/parsers/data_parsers_test.go
  pkg/events/parse_args.go
  pkg/events/parse_args_helpers.go
  pkg/events/parse_args_test.go
Due: unit, integration

detectors: add container enrichment requirement support
  detectors/example_detector.go
  docs/docs/detectors/api-reference.md
  docs/docs/detectors/datastore-api.md
  docs/docs/detectors/quickstart.md
  docs/docs/detectors/yaml-detectors.md
  pkg/detectors/registry.go
  pkg/detectors/registry_test.go
  pkg/ebpf/tracee.go
Due: unit, integration

feat: enable detector selection by tags
  docs/docs/flags/events.1.md
  docs/docs/policies/rules.md
  pkg/cmd/flags/policy_test.go
  pkg/detectors/events.go
  pkg/detectors/events_test.go
Due: unit, integration

feat(policy): add threat-based detector selection
  docs/docs/flags/events.1.md
  docs/docs/policies/rules.md
  docs/docs/policies/usage/cli.md
  docs/man/events.1
  pkg/cmd/cobra/cobra.go
  pkg/cmd/cobra/helper.go
  pkg/cmd/flags/event.go
  pkg/cmd/flags/event_test.go
  pkg/cmd/flags/policy.go
  pkg/cmd/flags/policy_test.go
  pkg/cmd/flags/threat_test.go
  tests/testutils/policies.go
Due: unit, integration

Remove obsolete tracee.pid readiness file
  pkg/cmd/tracee.go
  scripts/tracee_common.sh
  scripts/tracee_start.sh
  scripts/tracee_stop.sh
  tests/e2e-kernel-test.sh
  tests/e2e-net-test.sh
Due: unit, integration

docs: document ARM64/x86 32-bit syscall number alignment
  pkg/events/core_amd64.go
  pkg/events/core_arm64.go
Due: unit, integration

fix: add security_file_mprotect probe dependency to capture_mem
  pkg/events/core.go
  tests/integration/dependencies_test.go
Due: unit, integration

detectors: add container enrichment requirement support
  api/v1beta1/detection/constants.go
  detectors/example_detector.go
  docs/docs/detectors/api-reference.md
  docs/docs/detectors/datastore-api.md
  docs/docs/detectors/quickstart.md
  docs/docs/detectors/yaml-detectors.md
  pkg/detectors/registry.go
  pkg/detectors/registry_test.go
  pkg/detectors/yaml/validator.go
  pkg/ebpf/tracee.go
Due: unit, integration

Deployed a96cc3b12 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/detectors/api-reference/index.html
  dev/docs/detectors/datastore-api/index.html
  dev/docs/detectors/quickstart/index.html
  dev/docs/detectors/yaml-detectors/index.html
  dev/docs/install/docker/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none
