Repository aquasecurity/tracee: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

# Codecov configuration for Tracee
# This file configures how code coverage is measured and reported

coverage:
  status:
    project:
      default:
        target: auto         # Start with current coverage as baseline
        threshold: 1%        # Allow 1% decrease without failing
        if_ci_failed: error  # Fail if CI failed
    patch:
      default:
        target: 60%          # New code should have reasonable coverage
        threshold: 10%       # More flexibility for initial adoption
        if_ci_failed: error

  ignore:
    # Ignore generated files and vendor dependencies
    - "3rdparty/**/*"
    - "vendor/**/*"
    - "**/*.pb.go"
    - "**/mock_*.go"
    - "**/*_mock.go"
    - "**/testdata/**/*"
    - "tests/**/*"
    - "**/*_test.go"
    # Ignore build and CI scripts
    - "scripts/**/*"
    - "builder/**/*"
    - "deploy/**/*"
    # Ignore documentation
    - "docs/**/*"
    - "examples/**/*"
    - "brand/**/*"
    # Runtime enrichers cleanup is tested via integration tests
    - "pkg/containers/runtime/docker.go"
    - "pkg/containers/runtime/containerd.go"
    - "pkg/containers/runtime/crio.go"

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: true

flags:
  unit:
    paths:
      - cmd/
      - pkg/
      - signatures/
  integration:
    paths:
      - cmd/
      - pkg/

github_checks:
  annotations: true

chore(capabilities): add unit tests for caps
  common/capabilities/capabilities.go
  common/capabilities/capabilities_test.go
Due: none

fixd(doc): remove old link from output docs
  docs/docs/flags/output.1.md
  docs/man/output.1
Due: none

refactor(detectors): extract const for hash options
  api/v1beta1/detection/constants.go
  detectors/example_detector.go
  docs/docs/detectors/api-reference.md
  pkg/detectors/registry.go
  pkg/detectors/registry_test.go
Due: unit, integration

fix(docs): use detectors constants on examples
  docs/docs/detectors/api-reference.md
Due: none

fix(doc): add detectors to the flag ref
  mkdocs.yml
Due: none

refactor(tracee): encapsulate enrichment config
  pkg/cmd/cobra/cobra.go
  pkg/cmd/flags/enrichment.go
  pkg/cmd/flags/enrichment_test.go
  pkg/cmd/flags/output.go
  pkg/cmd/flags/output_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/processor_funcs.go
  pkg/ebpf/tracee.go
  tests/compatibility/compatibility_test.go
  tests/integration/container_events_test.go
  tests/integration/dependencies_test.go
  tests/integration/event_filters_test.go
Due: unit, integration

test(detectors): add detector-to-detector communication via writable datastores
  pkg/detectors/datastore_communication_test.go
Due: unit, integration

tests: move Test_TraceeCapture from integration to e2e tests
  .github/actions/run-e2e-tests/action.yaml
  tests/e2e-capture-test.sh
  tests/e2e-capture/capture_test.go
Due: none

fix(grpc): handle map[string]interface{} and []trace.Argument in protobuf conversion
  pkg/server/grpc/event_data.go
  pkg/server/grpc/event_data_test.go
Due: unit, integration

perf(streams): use sync.RWMutex instead of sync.Mutex
  pkg/streams/streams.go
Due: unit, integration

Revert "perf(streams): use sync.RWMutex instead of sync.Mutex"
  pkg/streams/streams.go
Due: unit, integration

test(detectors): add detector testing framework
  tests/detectors/README.md
  tests/detectors/harness.go
  tests/detectors/harness_test.go
  tests/detectors/integration_test.go
  tests/detectors/yaml.go
Due: none

feat(command): add replay subcommand
  cmd/tracee/cmd/analyze.go
  cmd/tracee/cmd/replay.go
  docs/docs/flags/replay.1.md
  docs/man/replay.1
  mkdocs.yml
  pkg/analyze/analyze.go
  pkg/cmd/cobra/cobra.go
  pkg/cmd/tracee.go
  pkg/events/event_id_translation.go
  pkg/replay/replay.go
  pkg/replay/replay_test.go
  pkg/replay/testdata/low_level_events.json
  pkg/replay/testdata/mixed_events.json
Due: unit, integration

fix(ebpf): prevent pipeline stall during BPF map updates on ARM64/5.13
  pkg/ebpf/ksymbols.go
  pkg/ebpf/processor_funcs.go
  pkg/ebpf/tracee.go
  tests/e2e-inst-signatures/scripts/stack_pivot.c
  tests/policies/inst/stack_pivot.yaml
Due: unit, integration

feat(bpf): add inspect_bpf_prog.sh for eBPF program analysis
  scripts/README.md
  scripts/debugging/inspect_bpf_prog.md
  scripts/debugging/inspect_bpf_prog.sh
Due: none

feat(githooks): add pre-push hook to enforce restrictions
  .githooks/pre-push
  .githooks/pre-push-blocked-branches
  .githooks/pre-push-protected-repos
Due: none

chore(cursor): update rules for shell scripts
  .cursor/rules/shell-style-guide.mdc
Due: none

feat(grpc): add healthz supporflagst
  deploy/helm/tracee/templates/daemonset.yaml
  pkg/cmd/flags/server.go
  pkg/cmd/tracee.go
  pkg/ebpf/probes/probe_group.go
  pkg/server/grpc/health.go
  pkg/server/grpc/health_test.go
  pkg/server/grpc/server.go
  pkg/server/heartbeat.go
  pkg/server/http/server.go
Due: unit, integration

feat(grpc)!: adds datastore grpc api
  api/v1beta1/datasource.pb.go
  api/v1beta1/datasource.pb.json.go
  api/v1beta1/datasource.proto
  api/v1beta1/datasource_grpc.pb.go
  pkg/cmd/tracee.go
  pkg/server/grpc/datasource.go
  pkg/server/grpc/datastore.go
  pkg/server/grpc/datastore_test.go
  pkg/server/grpc/server.go
  pkg/server/grpc/server_test.go
  tests/e2e-inst-signatures/scripts/ds_writer/ds_writer.go
  tests/e2e-inst-test-core.sh
Due: unit, integration

feat(detector): add k8s support
  cmd/tracee-operator/main.go
  deploy/helm/tracee/crds/tracee.aquasec.com_detectors.yaml
  deploy/helm/tracee/templates/daemonset.yaml
  deploy/helm/tracee/templates/role.yaml
  deploy/helm/tracee/templates/tracee-lists.yaml
  deploy/kubernetes/tracee/tracee.yaml
  pkg/cmd/cobra/cobra.go
  pkg/cmd/cobra/helper.go
  pkg/detectors/yaml/detector_file.go
  pkg/detectors/yaml/list_loader.go
  pkg/detectors/yaml/loader.go
  pkg/detectors/yaml/parser.go
  pkg/detectors/yaml/schema.go
  pkg/k8s/apis/tracee.aquasec.com/v1beta1/tracee_types.go
  pkg/k8s/apis/tracee.aquasec.com/v1beta1/zz_generated.deepcopy.go
  pkg/k8s/controller/controller.go
  pkg/k8s/detector.go
  pkg/k8s/k8s.go
  pkg/k8s/policy.go
Due: unit, integration

chore(grpc): avoid log noise when enabling already loaded signatures.
  pkg/ebpf/tracee.go
Due: unit, integration

Add XPAV-derived detection signatures
  signatures/golang/container_escape.go
  signatures/golang/cryptominer_detection.go
  signatures/golang/export.go
  signatures/golang/persistence_fileless.go
  signatures/golang/webserver_abuse.go
Due: unit

fix: allow host events when using inequality filters on container/pod fields
  pkg/filters/scope.go
  pkg/filters/scope_test.go
Due: unit, integration

docs: Replace deprecated Promtail with Grafana Alloy and update Loki Helm chart
  docs/tutorials/deploy-grafana-dashboard.md
  docs/tutorials/grafana-alloy-loki.md
  docs/tutorials/promtail.md
  mkdocs.yml
Due: none

fix: bump Go to 1.24.12
  .github/actions/build-dependencies/action.yaml
  api/go.mod
  builder/Dockerfile.alpine-tracee-container
  builder/Dockerfile.evt-trigger-runner
  builder/Dockerfile.k8s
  builder/Dockerfile.protoc
  builder/Dockerfile.ubuntu-tracee-make
  cmd/traceectl/go.mod
  common/go.mod
  detectors/go.mod
  detectors/go.sum
  go.mod
  scripts/installation/checksums/go1.24.11.linux-amd64.tar.gz.sha256
  scripts/installation/checksums/go1.24.11.linux-arm64.tar.gz.sha256
  scripts/installation/checksums/go1.24.12.linux-amd64.tar.gz.sha256
  scripts/installation/checksums/go1.24.12.linux-arm64.tar.gz.sha256
  scripts/installation/install-deps-alpine.sh
  scripts/installation/install-deps-centos.sh
  scripts/installation/install-deps-ubuntu.sh
  types/go.mod
Due: unit, integration

chore: add some elf helpers
  common/elf/analyzer.go
  common/elf/analyzer_test.go
Due: none

fix(engine): resolve flaky test in TestEngine_ConsumeSources by replacing time.Sleep with channel synchronization
  pkg/signatures/engine/engine_test.go
Due: unit, integration

fix: bump Go to 1.24.13
  .github/actions/build-dependencies/action.yaml
  api/go.mod
  builder/Dockerfile.alpine-tracee-container
  builder/Dockerfile.evt-trigger-runner
  builder/Dockerfile.k8s
  builder/Dockerfile.protoc
  builder/Dockerfile.ubuntu-tracee-make
  cmd/traceectl/go.mod
  common/go.mod
  docs/contributing/building/building.md
  go.mod
  scripts/installation/checksums/go1.24.12.linux-amd64.tar.gz.sha256
  scripts/installation/checksums/go1.24.12.linux-arm64.tar.gz.sha256
  scripts/installation/checksums/go1.24.13.linux-amd64.tar.gz.sha256
  scripts/installation/checksums/go1.24.13.linux-arm64.tar.gz.sha256
  scripts/installation/install-deps-alpine.sh
  scripts/installation/install-deps-centos.sh
  scripts/installation/install-deps-ubuntu.sh
  types/go.mod
Due: unit, integration
