Repository aquasecurity/tracee: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

test(detectors): add common test helpers
  detectors/test_helpers.go
Due: none

detectors/yaml: add datastore access to CEL expressions
  docs/docs/detectors/yaml-detectors.md
  pkg/detectors/yaml/cel_datastores.go
  pkg/detectors/yaml/cel_datastores_test.go
  pkg/detectors/yaml/cel_env.go
  pkg/detectors/yaml/cel_macros_test.go
  pkg/detectors/yaml/detector.go
  pkg/detectors/yaml/validator.go
Due: unit, integration

feat(detectors): migrate hooked_seq_ops to detector framework
  detectors/hooked_seq_ops.go
  detectors/hooked_seq_ops_test.go
Due: none

fix(tests): update e2e-kernel-test to work with detectors
  tests/e2e-kernel-test.sh
Due: none

feat(detectors): migrate disk_mount signature to detector
  detectors/disk_mount.go
  detectors/disk_mount_test.go
  signatures/golang/disk_mount.go
  signatures/golang/disk_mount_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate sched_debug_recon signature to detector
  detectors/sched_debug_recon.go
  detectors/sched_debug_recon_test.go
  signatures/golang/export.go
  signatures/golang/sched_debug_recon.go
  signatures/golang/sched_debug_recon_test.go
Due: unit

feat(detectors): migrate syscall_table_hooking signature to detector
  detectors/syscall_table_hooking.go
  detectors/syscall_table_hooking_test.go
  signatures/golang/export.go
  signatures/golang/syscall_table_hooking.go
  signatures/golang/syscall_table_hooking_test.go
Due: unit

feat(detectors): migrate kubernetes_certificate_theft_attempt signature to detector
  detectors/kubernetes_certificate_theft_attempt.go
  detectors/kubernetes_certificate_theft_attempt_test.go
  signatures/golang/export.go
  signatures/golang/kubernetes_certificate_theft_attempt.go
  signatures/golang/kubernetes_certificate_theft_attempt_test.go
Due: unit

feat(detectors): migrate illegitimate_shell signature to detector
  detectors/illegitimate_shell.go
  detectors/illegitimate_shell_test.go
  signatures/golang/export.go
  signatures/golang/illegitimate_shell.go
  signatures/golang/illegitimate_shell_test.go
Due: unit

feat(detectors): migrate kubernetes_api_connection signature to detector
  detectors/kubernetes_api_connection.go
  detectors/kubernetes_api_connection_test.go
  signatures/golang/kubernetes_api_connection.go
  signatures/golang/kubernetes_api_connection_test.go
Due: unit

feat(detectors): migrate rcd_modification signature to detector
  detectors/rcd_modification.go
  detectors/rcd_modification_test.go
  signatures/golang/export.go
  signatures/golang/rcd_modification.go
  signatures/golang/rcd_modification_test.go
Due: unit

feat(detectors): migrate default_loader_modification signature to detector
  detectors/default_loader_modification.go
  detectors/default_loader_modification_test.go
  signatures/golang/default_loader_modification.go
  signatures/golang/default_loader_modification_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate sudoers_modification signature to detector
  detectors/sudoers_modification.go
  detectors/sudoers_modification_test.go
  signatures/golang/export.go
  signatures/golang/sudoers_modification.go
  signatures/golang/sudoers_modification_test.go
Due: unit

feat(detectors): migrate ptrace_code_injection signature to detector
  detectors/ptrace_code_injection.go
  detectors/ptrace_code_injection_test.go
  signatures/golang/export.go
  signatures/golang/ptrace_code_injection.go
  signatures/golang/ptrace_code_injection_test.go
Due: unit

feat(detectors): migrate system_request_key_config_modification signature to detector
  detectors/system_request_key_config_modification.go
  detectors/system_request_key_config_modification_test.go
  signatures/golang/export.go
  signatures/golang/system_request_key_config_modification.go
  signatures/golang/system_request_key_config_modification_test.go
Due: unit

feat(detectors): migrate kernel_module_loading signature to detector
  detectors/kernel_module_loading.go
  detectors/kernel_module_loading_test.go
  signatures/golang/export.go
  signatures/golang/kernel_module_loading.go
  signatures/golang/kernel_module_loading_test.go
Due: unit

feat(detectors): migrate ld_preload signature to detector
  detectors/ld_preload.go
  detectors/ld_preload_test.go
  signatures/golang/export.go
  signatures/golang/ld_preload.go
  signatures/golang/ld_preload_test.go
Due: unit

feat(detectors): migrate scheduled_task_modification signature to detector
  detectors/scheduled_task_modification.go
  detectors/scheduled_task_modification_test.go
  signatures/golang/export.go
  signatures/golang/scheduled_task_modification.go
  signatures/golang/scheduled_task_modification_test.go
Due: unit

feat(detectors): migrate proc_fops_hooking signature to detector
  detectors/proc_fops_hooking.go
  detectors/proc_fops_hooking_test.go
  signatures/golang/export.go
  signatures/golang/proc_fops_hooking.go
  signatures/golang/proc_fops_hooking_test.go
Due: unit

feat(detectors): migrate k8s_service_account_token signature to detector
  detectors/k8s_service_account_token.go
  detectors/k8s_service_account_token_test.go
  signatures/golang/export.go
  signatures/golang/k8s_service_account_token.go
  signatures/golang/k8s_service_account_token_test.go
Due: unit

feat(detectors): migrate docker_abuse signature to detector
  detectors/docker_abuse.go
  detectors/docker_abuse_test.go
  signatures/golang/docker_abuse.go
  signatures/golang/docker_abuse_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate dynamic_code_loading signature to detector
  detectors/dynamic_code_loading.go
  detectors/dynamic_code_loading_test.go
  signatures/golang/dynamic_code_loading.go
  signatures/golang/dynamic_code_loading_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate dropped_executable signature to detector
  detectors/dropped_executable.go
  detectors/dropped_executable_test.go
  signatures/golang/dropped_executable.go
  signatures/golang/dropped_executable_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate process_vm_write_code_injection signature to detector
  detectors/process_vm_write_code_injection.go
  detectors/process_vm_write_code_injection_test.go
  signatures/golang/export.go
  signatures/golang/process_vm_write_code_injection.go
  signatures/golang/process_vm_write_code_injection_test.go
Due: unit

feat(detectors): migrate proc_mem_access signature to detector
  detectors/proc_mem_access.go
  detectors/proc_mem_access_test.go
  signatures/golang/export.go
  signatures/golang/proc_mem_access.go
  signatures/golang/proc_mem_access_test.go
Due: unit

feat(detectors): migrate fileless_execution signature to detector
  detectors/fileless_execution.go
  detectors/fileless_execution_test.go
  signatures/golang/export.go
  signatures/golang/fileless_execution.go
  signatures/golang/fileless_execution_test.go
Due: unit

feat(detectors): migrate proc_mem_code_injection signature to detector
  detectors/proc_mem_code_injection.go
  detectors/proc_mem_code_injection_test.go
  signatures/golang/export.go
  signatures/golang/proc_mem_code_injection.go
  signatures/golang/proc_mem_code_injection_test.go
Due: unit

feat(detectors): migrate stdio_over_socket signature to detector
  detectors/stdio_over_socket.go
  detectors/stdio_over_socket_test.go
  signatures/golang/export.go
  signatures/golang/stdio_over_socket.go
  signatures/golang/stdio_over_socket_test.go
Due: unit

cli!: improve flag shorthands and fix outdated docs
  cmd/tracee/cmd/man.go
  cmd/tracee/cmd/root.go
  docs/docs/forensics.md
  tests/integration/capture_test.go
Due: unit, integration

refactor: remove legacy capture.go
  pkg/cmd/flags/artifacts.go
  pkg/cmd/flags/capture.go
  pkg/cmd/flags/capture_test.go
Due: unit, integration

Deployed 63e849a75 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/forensics/index.html
  dev/docs/install/docker/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

fix(enrichment): restore auto-discovery of runtime sockets
  pkg/cmd/flags/enrichment.go
Due: unit, integration

container: enable enrichment by default in container entrypoint
  builder/entrypoint.sh
Due: none

feat(detectors): implement recursive DetectedFrom chain tracking
  api/v1beta1/event_helpers.go
  docs/docs/detectors/api-reference.md
  pkg/detectors/dispatch.go
  pkg/events/conversion.go
Due: unit, integration

examples: add 3-level chained YAML detector example
  examples/detectors/yaml/CHAIN_TEST.md
  examples/detectors/yaml/chain_level1_netcat.yaml
  examples/detectors/yaml/chain_level2_container.yaml
  examples/detectors/yaml/chain_level3_k8s.yaml
Due: none

test: add unit tests for DetectedFrom chain tracking
  api/v1beta1/event_helpers_test.go
  pkg/detectors/dispatch_test.go
  pkg/events/conversion_test.go
Due: unit, integration

Path conditions:
  unit: any of: cmd/, pkg/, signatures/
  integration: any of: cmd/, pkg/
