Repository aquasecurity/tracee: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

refactor(common): move counter and changelog packages from pkg to common
  common/README.md
  common/changelog/changelog.go
  common/changelog/changelog_benchmark_test.go
  common/changelog/changelog_test.go
  common/changelog/entry.go
  common/counter/counter.go
  common/counter/counter_bench_test.go
  common/counter/counter_test.go
  pkg/events/ftrace.go
  pkg/events/trigger/context.go
  pkg/metrics/collector.go
  pkg/metrics/event_collector.go
  pkg/metrics/stats.go
  pkg/proctree/fileinfo.go
  pkg/proctree/taskinfo.go
  pkg/signatures/metrics/stats.go
Due: unit, integration

refactor(common): move events/parsers package to common/parsers
  common/README.md
  common/parsers/data_parsers.go
  common/parsers/data_parsers_amd64.go
  common/parsers/data_parsers_arm64.go
  common/parsers/data_parsers_bench_test.go
  common/parsers/data_parsers_test.go
  go.mod
  go.sum
  pkg/bufferdecoder/eventsreader.go
  pkg/events/derive/net_tcp.go
  pkg/events/parse_args.go
  pkg/events/parse_args_helpers.go
  pkg/events/parse_args_helpers_test.go
  pkg/events/parse_args_test.go
  pkg/signatures/benchmark/signature/golang/anti_debugging.go
  signatures/golang/anti_debugging_ptraceme.go
  signatures/golang/anti_debugging_ptraceme_test.go
  signatures/golang/aslr_inspection_test.go
  signatures/golang/cgroup_notify_on_release_modification_test.go
  signatures/golang/cgroup_release_agent_modification_test.go
  signatures/golang/core_pattern_modification_test.go
  signatures/golang/default_loader_modification_test.go
  signatures/golang/docker_abuse_test.go
  signatures/golang/k8s_service_account_token_test.go
  signatures/golang/kubernetes_certificate_theft_attempt_test.go
  signatures/golang/ld_preload_test.go
  signatures/golang/proc_kcore_read_test.go
  signatures/golang/proc_mem_access_test.go
  signatures/golang/proc_mem_code_injection_test.go
  signatures/golang/ptrace_code_injection.go
  signatures/golang/ptrace_code_injection_test.go
  signatures/golang/rcd_modification_test.go
  signatures/golang/sched_debug_recon_test.go
  signatures/golang/scheduled_task_modification_test.go
  signatures/golang/sudoers_modification_test.go
  signatures/golang/system_request_key_config_modification_test.go
  signatures/golang/test_helpers.go
  tests/e2e-inst-signatures/e2e-bpf_attach.go
Due: unit, integration

fix:(ebpf): 'and' bitwise bug in save_bytes_to_buf
  pkg/ebpf/c/common/buffer.h
Due: unit, integration

build: remove local common module replace directive
  go.mod
  go.sum
Due: none

docs: remove redundant 'Events' from built-in events navigation
  mkdocs.yml
Due: none

chore(ebpf): update pt_regs struct
  pkg/ebpf/c/vmlinux.h
Due: unit, integration

chore(ebpf): check for CONFIG_X86_FRED
  pkg/ebpf/c/common/arch.h
  pkg/ebpf/c/vmlinux_flavors.h
  pkg/ebpf/c/vmlinux_missing.h
Due: unit, integration

chore: add runtime.KeepAlive for unsafe.Pointer
  common/elf/symbols.go
Due: none

docs: add missing protobuf and gRPC sections to adding-events guide
  docs/contributing/adding-events.md
Due: none

fix(ebpf): use u32 for read_size in save_bytes_to_buf
  pkg/ebpf/c/common/buffer.h
Due: unit, integration

Deployed e292160ed to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/contributing/adding-events/index.html
  dev/docs/install/docker/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

build: upgrade from Clang 14 to Clang 19
  .github/actions/build-dependencies/action.yaml
  .github/copilot-instructions.md
  Vagrantfile
  builder/Dockerfile.alpine-tracee-container
  builder/Dockerfile.alpine-tracee-make
  builder/Dockerfile.ubuntu-tracee-make
  builder/Makefile.checkers
  docs/contributing/building/building.md
  tests/e2e-install-deps.sh
Due: none

refactor: move utility functions from signatures/helpers to common modules
  common/digest/cache.go
  common/digest/hash.go
  common/digest/hash_bench_test.go
  common/digest/hash_test.go
  common/digest/key.go
  common/elf/analyzer.go
  common/murmur/murmur.go
  common/parsers/data_parsers.go
  common/parsers/file_parsers.go
  common/parsers/network_parsers.go
  signatures/helpers/helpers.go
Due: unit

refactor: move argument and protocol extraction functions to types/trace
  signatures/helpers/arguments_helpers.go
  signatures/helpers/helpers.go
  types/trace/trace.go
Due: unit

refactor: move ProcessTreeDS from signatures/helpers to types/datasource
  signatures/helpers/proctree.go
  types/datasource/proctree.go
Due: unit

refactor: improve Event argument extraction methods per code review
  types/trace/trace.go
Due: none

Update Vagrantfile to Ubuntu 24.04 for Clang 19 support
  Vagrantfile
Due: none

refactor: centralize Clang installation logic
  .github/actions/build-dependencies/action.yaml
  Vagrantfile
  builder/Dockerfile.alpine-tracee-container
  builder/Dockerfile.alpine-tracee-make
  builder/Dockerfile.ubuntu-tracee-make
  scripts/installation/install-clang.sh
  tests/e2e-install-deps.sh
Due: none

Update Ubuntu build environments from jammy (22.04) to noble (24.04) for Clang 19
  builder/Dockerfile.ubuntu-tracee-make
  tests/e2e-install-deps.sh
Due: none

style: apply clang-format-19 formatting to eBPF C files
  pkg/ebpf/c/common/kconfig.h
  pkg/ebpf/c/common/memory.h
  pkg/ebpf/c/maps.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/c/vmlinux.h
  pkg/ebpf/c/vmlinux_flavors.h
  pkg/ebpf/c/vmlinux_missing.h
Due: unit, integration

Path conditions:
  unit: any of: cmd/, pkg/, signatures/
  integration: any of: cmd/, pkg/
