Repository aquasecurity/tracee: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

# Codecov configuration for Tracee
# This file configures how code coverage is measured and reported

coverage:
  status:
    project:
      default:
        target: auto         # Start with current coverage as baseline
        threshold: 1%        # Allow 1% decrease without failing
        if_ci_failed: error  # Fail if CI failed
    patch:
      default:
        target: 60%          # New code should have reasonable coverage
        threshold: 10%       # More flexibility for initial adoption
        if_ci_failed: error

  ignore:
    # Ignore generated files and vendor dependencies
    - "3rdparty/**/*"
    - "vendor/**/*"
    - "**/*.pb.go"
    - "**/mock_*.go"
    - "**/*_mock.go"
    - "**/testdata/**/*"
    - "tests/**/*"
    - "**/*_test.go"
    # Ignore build and CI scripts
    - "scripts/**/*"
    - "builder/**/*"
    - "deploy/**/*"
    # Ignore documentation
    - "docs/**/*"
    - "examples/**/*"
    - "brand/**/*"
    # Runtime enrichers cleanup is tested via integration tests
    - "pkg/containers/runtime/docker.go"
    - "pkg/containers/runtime/containerd.go"
    - "pkg/containers/runtime/crio.go"

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: true

flags:
  unit:
    paths:
      - cmd/
      - pkg/
      - signatures/
  integration:
    paths:
      - cmd/
      - pkg/

github_checks:
  annotations: true

docs: fix bullet point formatting in documentation
  docs/docs/detectors/datastore-api.md
  docs/docs/detectors/index.md
  docs/docs/events/builtin/man/misc/vfs_read.md
  docs/docs/events/builtin/man/network/net_packet_icmp.md
  docs/docs/events/builtin/man/security/ftrace_hook.md
  docs/docs/events/builtin/man/security/kernel_module_loading.md
  docs/docs/events/builtin/man/security/stack_pivot.md
  docs/docs/events/builtin/syscall-events.md
  docs/docs/events/custom/overview.md
  docs/docs/flags/stores.1.md
  docs/docs/outputs/event-structure.md
  docs/docs/outputs/output-formats.md
  docs/docs/policies/rules.md
  docs/docs/security-model.md
  docs/docs/troubleshooting.md
  docs/man/ftrace_hook.1
  docs/man/kernel_module_loading.1
  docs/man/net_packet_icmp.1
  docs/man/stack_pivot.1
  docs/man/stores.1
  docs/man/vfs_read.1
Due: none

Deployed 7ed1485a4 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/detectors/datastore-api/index.html
  dev/docs/detectors/index.html
  dev/docs/events/builtin/man/misc/vfs_read/index.html
  dev/docs/events/builtin/man/network/net_packet_icmp/index.html
  dev/docs/events/builtin/man/security/ftrace_hook/index.html
  dev/docs/events/builtin/man/security/kernel_module_loading/index.html
  dev/docs/events/builtin/man/security/stack_pivot/index.html
  dev/docs/events/builtin/syscall-events/index.html
  dev/docs/events/custom/overview/index.html
  dev/docs/flags/stores.1/index.html
  dev/docs/install/docker/index.html
  dev/docs/outputs/event-structure/index.html
  dev/docs/outputs/output-formats/index.html
  dev/docs/policies/rules/index.html
  dev/docs/security-model/index.html
  dev/docs/troubleshooting/index.html
  dev/man/ftrace_hook.1
  dev/man/kernel_module_loading.1
  dev/man/net_packet_icmp.1
  dev/man/stack_pivot.1
  dev/man/stores.1
  dev/man/vfs_read.1
  dev/search/search_index.json
Due: none

fix(api): align event definitions across proto and core
  api/v1beta1/event.pb.go
  api/v1beta1/event.proto
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/processor.go
  pkg/ebpf/tracee.go
  pkg/events/core.go
  pkg/events/event_id_translation.go
  pkg/events/parse_args.go
Due: unit, integration

chore(triggers): remove commented-out event counts
  cmd/evt/cmd/trigger/triggers/common/bpftrace.sh
  cmd/evt/cmd/trigger/triggers/common/mktemp-ln-rm.sh
  cmd/evt/cmd/trigger/triggers/common/ping.sh
  cmd/evt/cmd/trigger/triggers/common/self-comm.sh
  cmd/evt/cmd/trigger/triggers/common/sudo.sh
  cmd/evt/cmd/trigger/triggers/common/timeout-nc.sh
  cmd/evt/cmd/trigger/triggers/common/true.sh
  cmd/evt/cmd/trigger/triggers/common/unshare-mkdir.sh
  cmd/evt/cmd/trigger/triggers/ptrace.sh
  cmd/evt/cmd/trigger/triggers/security_bpf_prog.sh
  cmd/evt/cmd/trigger/triggers/security_path_notify.sh
Due: unit, integration

feat(evt): add stress testing command with container runner
  Makefile
  builder/Dockerfile.evt-trigger-runner
  builder/Makefile.evt-trigger-runner
  cmd/evt/cmd/root.go
  cmd/evt/cmd/stress/cobra.go
  cmd/evt/cmd/stress/stress.go
  cmd/evt/cmd/stress/stress_container.go
  cmd/evt/cmd/stress/stress_helpers.go
  cmd/evt/cmd/stress/stress_tracee.go
  cmd/evt/cmd/trigger/cobra.go
  cmd/evt/cmd/trigger/trigger.go
  docs/contributing/evt-tool.md
  docs/contributing/overview.md
  docs/contributing/performance.md
  mkdocs.yml
Due: unit, integration

refactor(scripts): streamline PR comment generation
  Makefile
  scripts/checkpatch.sh
Due: none

chore(printers)!: remove table-verbose
  docs/docs/flags/output.1.md
  docs/docs/outputs/output-formats.md
  docs/man/output.1
  examples/config/global_config.yaml
  pkg/cmd/flags/errors.go
  pkg/cmd/flags/output.go
  pkg/cmd/flags/output_test.go
  pkg/cmd/printer/printer.go
  pkg/cmd/printer/printer_test.go
Due: unit, integration

Deployed c3c30957d to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/flags/output.1/index.html
  dev/docs/install/docker/index.html
  dev/docs/outputs/output-formats/index.html
  dev/man/output.1
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

flags(artifacts): new flag format
  cmd/tracee/cmd/man.go
  cmd/tracee/cmd/root.go
  docs/docs/flags/artifacts.1.md
  docs/docs/flags/capture.1.md
  docs/man/artifacts.1
  docs/man/capture.1
  mkdocs.yml
  pkg/cmd/cobra/cobra.go
  pkg/cmd/flags/artifacts.go
  pkg/cmd/flags/artifacts_test.go
  pkg/cmd/flags/config.go
  pkg/cmd/flags/config_test.go
Due: unit, integration

refactor(flags): use proper constants
  pkg/cmd/cobra/cobra.go
Due: unit, integration

chore: refactor dns store name
  pkg/cmd/cobra/cobra.go
  pkg/cmd/flags/stores.go
  pkg/config/config.go
  pkg/ebpf/processor.go
  pkg/ebpf/signature_engine.go
  pkg/ebpf/tracee.go
  pkg/policy/policy_manager.go
Due: unit, integration

chore: refactor process store name
  pkg/cmd/cobra/cobra.go
  pkg/cmd/flags/stores.go
  pkg/config/config.go
  pkg/ebpf/processor.go
  pkg/ebpf/signature_engine.go
  pkg/ebpf/tracee.go
  pkg/policy/policy_manager.go
  tests/testutils/tracee_integrated.go
Due: unit, integration

refactor: improve config validate error messages
  pkg/config/config.go
  pkg/config/config_test.go
Due: unit, integration

docs(datastores): Document WritableStore API
  docs/docs/detectors/datastore-api.md
Due: none

feat(datastores): Add WritableStore interface
  Makefile
  api/v1beta1/datastores/interfaces.go
  api/v1beta1/datastores/registry.go
  api/v1beta1/datastores/writable.pb.go
  api/v1beta1/datastores/writable.pb.json.go
  api/v1beta1/datastores/writable.proto
  api/v1beta1/datastores/writable_grpc.pb.go
  pkg/datastores/registry.go
  pkg/datastores/registry_test.go
Due: unit, integration

feat(datastores): Add IP reputation store reference implementation
  api/v1beta1/datastores/ipreputation.pb.go
  api/v1beta1/datastores/ipreputation.pb.json.go
  api/v1beta1/datastores/ipreputation.proto
  pkg/datastores/ipreputation/store.go
  pkg/datastores/ipreputation/store_test.go
  pkg/datastores/ipreputation/types.go
Due: unit, integration

feat(detectors): migrate cgroup_release_agent_modification signature to detector
  detectors/cgroup_release_agent_modification.go
  detectors/cgroup_release_agent_modification_test.go
  signatures/golang/cgroup_release_agent_modification.go
  signatures/golang/cgroup_release_agent_modification_test.go
  signatures/golang/export.go
Due: unit

feat(datastores): Add IP reputation store reference implementation
  pkg/datastores/ipreputation/store.go
  pkg/datastores/ipreputation/store_test.go
  pkg/datastores/ipreputation/types.go
Due: unit, integration

chain test
  examples/detectors/yaml/CHAIN_TEST.md
  examples/detectors/yaml/chain_level1_netcat.yaml
  examples/detectors/yaml/chain_level2_container.yaml
  examples/detectors/yaml/chain_level3_k8s.yaml
Due: none

test(detectors): add detector testing framework
  tests/detectors/README.md
  tests/detectors/assertions.go
  tests/detectors/events.go
  tests/detectors/examples/chain_test.go
  tests/detectors/examples/simple_stateful_test.go
  tests/detectors/examples/simple_stateless_test.go
  tests/detectors/examples/simple_test.go
  tests/detectors/examples/yaml_test.go
  tests/detectors/harness.go
  tests/detectors/harness_test.go
  tests/detectors/simple.go
  tests/detectors/yaml.go
Due: none

feat(detectors): add CEL support to YAML detectors
  docs/docs/detectors/yaml-detectors.md
  examples/detectors/yaml/chain_level1_netcat.yaml
  examples/detectors/yaml/chain_level2_container.yaml
  examples/detectors/yaml/chain_level3_k8s.yaml
  examples/detectors/yaml/suspicious_binary_execution.yaml
  go.mod
  go.sum
  pkg/detectors/yaml/cel_env.go
  pkg/detectors/yaml/cel_macros_test.go
  pkg/detectors/yaml/detector.go
  pkg/detectors/yaml/extractor.go
  pkg/detectors/yaml/schema.go
  pkg/detectors/yaml/testdata/valid_derived.yaml
  pkg/detectors/yaml/testdata/valid_threat.yaml
  pkg/detectors/yaml/validator.go
  tests/detectors/README.md
  tests/detectors/examples/chain_test.go
  tests/detectors/examples/yaml_test.go
  tests/detectors/yaml.go
  tests/integration/yaml_detector_test.go
Due: unit, integration

feat(detectors): implement recursive DetectedFrom chain tracking
  api/v1beta1/event_helpers.go
  docs/docs/detectors/api-reference.md
  pkg/detectors/dispatch.go
  pkg/events/conversion.go
  tests/detectors/examples/chain_test.go
Due: unit, integration

test(detectors): add detector-to-detector communication via writable datastores
  pkg/detectors/datastore_communication_test.go
Due: unit, integration

feat(detectors): add string utility functions to CEL expressions
  docs/docs/detectors/yaml-detectors.md
  pkg/detectors/yaml/cel_env.go
  pkg/detectors/yaml/cel_strings.go
  pkg/detectors/yaml/cel_strings_test.go
Due: unit, integration

feat(detectors): migrate proc_kcore_read signature to detector framework
  detectors/proc_kcore_read.go
  detectors/proc_kcore_read_test.go
  signatures/golang/export.go
  signatures/golang/proc_kcore_read.go
  signatures/golang/proc_kcore_read_test.go
Due: unit

feat(detectors): migrate cgroup_notify_on_release_modification signature to detector
  detectors/cgroup_notify_on_release_modification.go
  detectors/cgroup_notify_on_release_modification_test.go
  signatures/golang/cgroup_notify_on_release_modification.go
  signatures/golang/cgroup_notify_on_release_modification_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate aslr_inspection signature to detector framework
  detectors/aslr_inspection.go
  detectors/aslr_inspection_test.go
  signatures/golang/aslr_inspection.go
  signatures/golang/aslr_inspection_test.go
  signatures/golang/export.go
Due: unit

detectors: add shared list variables for YAML detectors
  docs/docs/detectors/yaml-detectors.md
  examples/detectors/yaml/lists/shell_binaries.yaml
  examples/detectors/yaml/shell_execution_detector.yaml
  pkg/detectors/yaml/cel_env.go
  pkg/detectors/yaml/cel_macros_test.go
  pkg/detectors/yaml/detector.go
  pkg/detectors/yaml/list_loader.go
  pkg/detectors/yaml/list_loader_test.go
  pkg/detectors/yaml/list_schema.go
  pkg/detectors/yaml/loader.go
  pkg/detectors/yaml/validator.go
Due: unit, integration

feat(detectors): migrate hidden_file_created signature to detector framework
  detectors/go.mod
  detectors/go.sum
  detectors/hidden_file_created.go
  detectors/hidden_file_created_test.go
  signatures/golang/export.go
  signatures/golang/hidden_file_created.go
  signatures/golang/hidden_file_created_test.go
Due: unit

feat(detectors): migrate anti_debugging_ptraceme signature to detector framework
  detectors/anti_debugging.go
  detectors/anti_debugging_test.go
  detectors/go.mod
  detectors/go.sum
  signatures/golang/anti_debugging_ptraceme.go
  signatures/golang/anti_debugging_ptraceme_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate core_pattern_modification signature to detector
  detectors/core_pattern_modification.go
  detectors/core_pattern_modification_test.go
  signatures/golang/core_pattern_modification.go
  signatures/golang/core_pattern_modification_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate hooked_syscall to detector framework
  detectors/go.mod
  detectors/go.sum
  detectors/hooked_syscall.go
  detectors/hooked_syscall_test.go
Due: none
