Repository aquasecurity/tracee: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

# Codecov configuration for Tracee
# This file configures how code coverage is measured and reported

coverage:
  status:
    project:
      default:
        target: auto         # Start with current coverage as baseline
        threshold: 1%        # Allow 1% decrease without failing
        if_ci_failed: error  # Fail if CI failed
    patch:
      default:
        target: 60%          # New code should have reasonable coverage
        threshold: 10%       # More flexibility for initial adoption
        if_ci_failed: error

  ignore:
    # Ignore generated files and vendor dependencies
    - "3rdparty/**/*"
    - "vendor/**/*"
    - "**/*.pb.go"
    - "**/mock_*.go"
    - "**/*_mock.go"
    - "**/testdata/**/*"
    - "tests/**/*"
    - "**/*_test.go"
    # Ignore build and CI scripts
    - "scripts/**/*"
    - "builder/**/*"
    - "deploy/**/*"
    # Ignore documentation
    - "docs/**/*"
    - "examples/**/*"
    - "brand/**/*"
    # Runtime enrichers cleanup is tested via integration tests
    - "pkg/containers/runtime/docker.go"
    - "pkg/containers/runtime/containerd.go"
    - "pkg/containers/runtime/crio.go"

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: true

flags:
  unit:
    paths:
      - cmd/
      - pkg/
      - signatures/
  integration:
    paths:
      - cmd/
      - pkg/

github_checks:
  annotations: true

fix(detectors): clone workload and policies to prevent shared references
  pkg/detectors/dispatch.go
Due: unit, integration

feat(datastores): Add IP reputation store reference implementation
  pkg/datastores/ipreputation/store.go
  pkg/datastores/ipreputation/store_test.go
  pkg/datastores/ipreputation/types.go
Due: unit, integration

detectors: add enrichment requirement validation
  api/v1beta1/detection/detector.go
  pkg/detectors/dispatch_test.go
  pkg/detectors/engine.go
  pkg/detectors/engine_test.go
  pkg/detectors/registry.go
  pkg/detectors/registry_test.go
  pkg/ebpf/tracee.go
Due: unit, integration

feat(detectors): add CEL support to YAML detectors
  detectors/yaml/chain_level1_netcat.yaml
  detectors/yaml/chain_level2_container.yaml
  detectors/yaml/chain_level3_k8s.yaml
  detectors/yaml/suspicious_binary_execution.yaml
  docs/docs/detectors/yaml-detectors.md
  go.mod
  go.sum
  pkg/detectors/yaml/cel_env.go
  pkg/detectors/yaml/cel_macros_test.go
  pkg/detectors/yaml/detector.go
  pkg/detectors/yaml/extractor.go
  pkg/detectors/yaml/schema.go
  pkg/detectors/yaml/testdata/valid_derived.yaml
  pkg/detectors/yaml/testdata/valid_threat.yaml
  pkg/detectors/yaml/validator.go
  tests/detectors/yaml.go
Due: unit, integration

feat(detectors): support per-detection overrides for AutoPopulate and Threat
  pkg/detectors/dispatch.go
Due: unit, integration

detectors: add shared list variables for YAML detectors
  detectors/yaml/lists/shell_binaries.yaml
  detectors/yaml/shell_execution_detector.yaml
  docs/docs/detectors/yaml-detectors.md
  pkg/detectors/yaml/cel_env.go
  pkg/detectors/yaml/cel_macros_test.go
  pkg/detectors/yaml/detector.go
  pkg/detectors/yaml/list_loader.go
  pkg/detectors/yaml/list_loader_test.go
  pkg/detectors/yaml/list_schema.go
  pkg/detectors/yaml/loader.go
  pkg/detectors/yaml/validator.go
Due: unit, integration

detectors/yaml: add datastore access to CEL expressions
  docs/docs/detectors/yaml-detectors.md
  pkg/detectors/yaml/cel_datastores.go
  pkg/detectors/yaml/cel_datastores_test.go
  pkg/detectors/yaml/cel_env.go
  pkg/detectors/yaml/cel_macros_test.go
  pkg/detectors/yaml/detector.go
  pkg/detectors/yaml/validator.go
Due: unit, integration

feat(detectors): implement recursive DetectedFrom chain tracking
  api/v1beta1/event_helpers.go
  docs/docs/detectors/developer-guide.md
  pkg/detectors/dispatch.go
  pkg/events/conversion.go
  tests/detectors/examples/chain_test.go
Due: unit, integration

test(detectors): add common test helpers
  detectors/test_helpers.go
Due: none

feat(detectors): add string utility functions to CEL expressions
  docs/docs/detectors/yaml-detectors.md
  pkg/detectors/yaml/cel_env.go
  pkg/detectors/yaml/cel_strings.go
  pkg/detectors/yaml/cel_strings_test.go
Due: unit, integration

test(detectors): add comprehensive integration tests for YAML detectors
  tests/integration/yaml_detector_test.go
Due: none

docs(datastores): Document WritableStore API
  docs/docs/detectors/datastore-api.md
Due: none

feat(datastores): Implement null object pattern for registry accessors
  docs/docs/detectors/datastore-api.md
  pkg/datastores/null_stores.go
  pkg/datastores/registry.go
  pkg/datastores/registry_test.go
Due: unit, integration

docs: add detector and datastore developer documentation
  docs/docs/detectors/datastore-api.md
  docs/docs/detectors/developer-guide.md
  docs/docs/detectors/index.md
  docs/docs/events/custom/overview.md
Due: none

feat(detectors): update to use new datastore error handling
  detectors/example_detector.go
Due: none

feat(detectors): add example detector for testing and documentation
  detectors/example_detector.go
Due: none

docs(detectors): add comprehensive YAML detector documentation
  docs/docs/detectors/index.md
  docs/docs/detectors/yaml-detectors.md
Due: none

feat(detectors): add AncestryDepth field for per-detection ancestry control
  api/v1beta1/detection/detector.go
  pkg/detectors/dispatch.go
Due: unit, integration

perf: eliminate proto conversions for detector events
  pkg/ebpf/events_pipeline.go
  pkg/events/pipeline_event.go
Due: unit, integration

test(detectors): add detector testing framework
  tests/detectors/README.md
  tests/detectors/assertions.go
  tests/detectors/events.go
  tests/detectors/examples/chain_test.go
  tests/detectors/examples/simple_stateful_test.go
  tests/detectors/examples/simple_stateless_test.go
  tests/detectors/examples/simple_test.go
  tests/detectors/examples/yaml_test.go
  tests/detectors/harness.go
  tests/detectors/harness_test.go
  tests/detectors/simple.go
  tests/detectors/yaml.go
Due: none

feat(detectors): migrate hooked_syscall to detector framework
  detectors/go.mod
  detectors/go.sum
  detectors/hooked_syscall.go
  detectors/hooked_syscall_test.go
Due: none

feat(detectors): migrate hooked_seq_ops to detector framework
  detectors/hooked_seq_ops.go
  detectors/hooked_seq_ops_test.go
Due: none

feat(detectors): migrate anti_debugging_ptraceme signature to detector framework
  detectors/anti_debugging.go
  detectors/anti_debugging_test.go
  detectors/go.mod
  detectors/go.sum
  signatures/golang/anti_debugging_ptraceme.go
  signatures/golang/anti_debugging_ptraceme_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate proc_kcore_read signature to detector framework
  detectors/proc_kcore_read.go
  detectors/proc_kcore_read_test.go
  signatures/golang/export.go
  signatures/golang/proc_kcore_read.go
  signatures/golang/proc_kcore_read_test.go
Due: unit

feat(detectors): migrate aslr_inspection signature to detector framework
  detectors/aslr_inspection.go
  detectors/aslr_inspection_test.go
  signatures/golang/aslr_inspection.go
  signatures/golang/aslr_inspection_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate hidden_file_created signature to detector framework
  detectors/go.mod
  detectors/go.sum
  detectors/hidden_file_created.go
  detectors/hidden_file_created_test.go
  signatures/golang/export.go
  signatures/golang/hidden_file_created.go
  signatures/golang/hidden_file_created_test.go
Due: unit

feat(detectors): migrate docker_abuse signature to detector
  detectors/docker_abuse.go
  detectors/docker_abuse_test.go
  signatures/golang/docker_abuse.go
  signatures/golang/docker_abuse_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate k8s_service_account_token signature to detector
  detectors/k8s_service_account_token.go
  detectors/k8s_service_account_token_test.go
  signatures/golang/export.go
  signatures/golang/k8s_service_account_token.go
  signatures/golang/k8s_service_account_token_test.go
Due: unit

fix(tests): update e2e-kernel-test to work with detectors
  tests/e2e-kernel-test.sh
Due: none

feat(detectors): migrate dropped_executable signature to detector
  detectors/dropped_executable.go
  detectors/dropped_executable_test.go
  signatures/golang/dropped_executable.go
  signatures/golang/dropped_executable_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate process_vm_write_code_injection signature to detector
  detectors/process_vm_write_code_injection.go
  detectors/process_vm_write_code_injection_test.go
  signatures/golang/export.go
  signatures/golang/process_vm_write_code_injection.go
  signatures/golang/process_vm_write_code_injection_test.go
Due: unit

feat(detectors): migrate illegitimate_shell signature to detector
  detectors/illegitimate_shell.go
  detectors/illegitimate_shell_test.go
  signatures/golang/export.go
  signatures/golang/illegitimate_shell.go
  signatures/golang/illegitimate_shell_test.go
Due: unit

feat(detectors): migrate kubernetes_certificate_theft_attempt signature to detector
  detectors/kubernetes_certificate_theft_attempt.go
  detectors/kubernetes_certificate_theft_attempt_test.go
  signatures/golang/export.go
  signatures/golang/kubernetes_certificate_theft_attempt.go
  signatures/golang/kubernetes_certificate_theft_attempt_test.go
Due: unit

feat(detectors): migrate core_pattern_modification signature to detector
  detectors/core_pattern_modification.go
  detectors/core_pattern_modification_test.go
  signatures/golang/core_pattern_modification.go
  signatures/golang/core_pattern_modification_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate cgroup_notify_on_release_modification signature to detector
  detectors/cgroup_notify_on_release_modification.go
  detectors/cgroup_notify_on_release_modification_test.go
  signatures/golang/cgroup_notify_on_release_modification.go
  signatures/golang/cgroup_notify_on_release_modification_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate stdio_over_socket signature to detector
  detectors/stdio_over_socket.go
  detectors/stdio_over_socket_test.go
  signatures/golang/export.go
  signatures/golang/stdio_over_socket.go
  signatures/golang/stdio_over_socket_test.go
Due: unit

feat(detectors): migrate default_loader_modification signature to detector
  detectors/default_loader_modification.go
  detectors/default_loader_modification_test.go
  signatures/golang/default_loader_modification.go
  signatures/golang/default_loader_modification_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate scheduled_task_modification signature to detector
  detectors/scheduled_task_modification.go
  detectors/scheduled_task_modification_test.go
  signatures/golang/export.go
  signatures/golang/scheduled_task_modification.go
  signatures/golang/scheduled_task_modification_test.go
Due: unit

feat(detectors): migrate sudoers_modification signature to detector
  detectors/sudoers_modification.go
  detectors/sudoers_modification_test.go
  signatures/golang/export.go
  signatures/golang/sudoers_modification.go
  signatures/golang/sudoers_modification_test.go
Due: unit

feat(detectors): migrate proc_mem_access signature to detector
  detectors/proc_mem_access.go
  detectors/proc_mem_access_test.go
  signatures/golang/export.go
  signatures/golang/proc_mem_access.go
  signatures/golang/proc_mem_access_test.go
Due: unit
