Repository aquasecurity/tracee: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

# Codecov configuration for Tracee
# This file configures how code coverage is measured and reported

coverage:
  status:
    project:
      default:
        target: auto         # Start with current coverage as baseline
        threshold: 1%        # Allow 1% decrease without failing
        if_ci_failed: error  # Fail if CI failed
    patch:
      default:
        target: 60%          # New code should have reasonable coverage
        threshold: 10%       # More flexibility for initial adoption
        if_ci_failed: error

  ignore:
    # Ignore generated files and vendor dependencies
    - "3rdparty/**/*"
    - "vendor/**/*"
    - "**/*.pb.go"
    - "**/mock_*.go"
    - "**/*_mock.go"
    - "**/testdata/**/*"
    - "tests/**/*"
    - "**/*_test.go"
    # Ignore build and CI scripts
    - "scripts/**/*"
    - "builder/**/*"
    - "deploy/**/*"
    # Ignore documentation
    - "docs/**/*"
    - "examples/**/*"
    - "brand/**/*"
    # Runtime enrichers cleanup is tested via integration tests
    - "pkg/containers/runtime/docker.go"
    - "pkg/containers/runtime/containerd.go"
    - "pkg/containers/runtime/crio.go"

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: true

flags:
  unit:
    paths:
      - cmd/
      - pkg/
      - signatures/
  integration:
    paths:
      - cmd/
      - pkg/

github_checks:
  annotations: true

Deployed 9018361e0 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/flags/events.1/index.html
  dev/docs/install/docker/index.html
  dev/docs/policies/rules/index.html
  dev/docs/policies/usage/cli/index.html
  dev/man/events.1
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

fix(events): prevent panic on closed channel in FtraceHookEvent
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/tracee.go
  pkg/events/ftrace.go
Due: unit, integration

Fix stack_pivot false positives
  pkg/ebpf/c/tracee.bpf.c
Due: unit, integration

k8s: add explicit for prometheus autodiscover
  deploy/helm/tracee/templates/daemonset.yaml
Due: none

refactor(flags): remove --runtime
  cmd/tracee/cmd/man.go
  cmd/tracee/cmd/root.go
  deploy/helm/tracee/templates/tracee-config.yaml
  deploy/helm/tracee/values.yaml
  docs/docs/flags/runtime.1.md
  docs/docs/install/config/index.md
  docs/docs/policies/usage/cli.md
  docs/man/runtime.1
  examples/config/global_config.json
  examples/config/global_config.yaml
  mkdocs.yml
  pkg/cmd/cobra/cobra.go
  pkg/cmd/flags/config.go
  pkg/cmd/flags/config_test.go
  pkg/cmd/flags/runtime.go
  pkg/cmd/flags/runtime_test.go
  pkg/cmd/initialize/bpfobject.go
  pkg/cmd/tracee.go
  scripts/tracee_start.sh
  scripts/tracee_stop.sh
  tests/e2e-kernel-test.sh
  tests/e2e-net-test.sh
  tests/testutils/tracee_integrated.go
Due: unit, integration

detection: add Detected() and DetectedWithData() helper functions
  api/v1beta1/detection/detector.go
  detectors/example_detector.go
  docs/docs/detectors/api-reference.md
  docs/docs/detectors/quickstart.md
Due: none

test(detectors): add common test helpers
  detectors/test_helpers.go
Due: none

feat(detectors): migrate anti_debugging_ptraceme signature to detector framework
  detectors/anti_debugging.go
  detectors/anti_debugging_test.go
  detectors/go.mod
  detectors/go.sum
  signatures/golang/anti_debugging_ptraceme.go
  signatures/golang/anti_debugging_ptraceme_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate hooked_syscall to detector framework
  detectors/go.mod
  detectors/go.sum
  detectors/hooked_syscall.go
  detectors/hooked_syscall_test.go
Due: none

feat(detectors): migrate aslr_inspection signature to detector framework
  detectors/aslr_inspection.go
  detectors/aslr_inspection_test.go
  signatures/golang/aslr_inspection.go
  signatures/golang/aslr_inspection_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate hooked_seq_ops to detector framework
  detectors/hooked_seq_ops.go
  detectors/hooked_seq_ops_test.go
Due: none

feat(detectors): migrate proc_kcore_read signature to detector framework
  detectors/proc_kcore_read.go
  detectors/proc_kcore_read_test.go
  signatures/golang/export.go
  signatures/golang/proc_kcore_read.go
  signatures/golang/proc_kcore_read_test.go
Due: unit

tests(integration): fix flaky event_filters tests
  tests/integration/event_filters_test.go
Due: none

fix(tests): update e2e-kernel-test to work with detectors
  tests/e2e-kernel-test.sh
Due: none

feat(detectors): migrate disk_mount signature to detector
  detectors/disk_mount.go
  detectors/disk_mount_test.go
  signatures/golang/disk_mount.go
  signatures/golang/disk_mount_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate rcd_modification signature to detector
  detectors/rcd_modification.go
  detectors/rcd_modification_test.go
  signatures/golang/export.go
  signatures/golang/rcd_modification.go
  signatures/golang/rcd_modification_test.go
Due: unit

feat(detectors): migrate dropped_executable signature to detector
  detectors/dropped_executable.go
  detectors/dropped_executable_test.go
  signatures/golang/dropped_executable.go
  signatures/golang/dropped_executable_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate kubernetes_certificate_theft_attempt signature to detector
  detectors/kubernetes_certificate_theft_attempt.go
  detectors/kubernetes_certificate_theft_attempt_test.go
  signatures/golang/export.go
  signatures/golang/kubernetes_certificate_theft_attempt.go
  signatures/golang/kubernetes_certificate_theft_attempt_test.go
Due: unit

feat(detectors): migrate syscall_table_hooking signature to detector
  detectors/syscall_table_hooking.go
  detectors/syscall_table_hooking_test.go
  signatures/golang/export.go
  signatures/golang/syscall_table_hooking.go
  signatures/golang/syscall_table_hooking_test.go
Due: unit

feat(detectors): migrate dynamic_code_loading signature to detector
  detectors/dynamic_code_loading.go
  detectors/dynamic_code_loading_test.go
  signatures/golang/dynamic_code_loading.go
  signatures/golang/dynamic_code_loading_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate hidden_file_created signature to detector framework
  detectors/go.mod
  detectors/go.sum
  detectors/hidden_file_created.go
  detectors/hidden_file_created_test.go
  signatures/golang/export.go
  signatures/golang/hidden_file_created.go
  signatures/golang/hidden_file_created_test.go
Due: unit

feat(detectors): migrate process_vm_write_code_injection signature to detector
  detectors/process_vm_write_code_injection.go
  detectors/process_vm_write_code_injection_test.go
  signatures/golang/export.go
  signatures/golang/process_vm_write_code_injection.go
  signatures/golang/process_vm_write_code_injection_test.go
Due: unit

feat(detectors): migrate ld_preload signature to detector
  detectors/ld_preload.go
  detectors/ld_preload_test.go
  signatures/golang/export.go
  signatures/golang/ld_preload.go
  signatures/golang/ld_preload_test.go
Due: unit

feat(detectors): migrate proc_mem_code_injection signature to detector
  detectors/proc_mem_code_injection.go
  detectors/proc_mem_code_injection_test.go
  signatures/golang/export.go
  signatures/golang/proc_mem_code_injection.go
  signatures/golang/proc_mem_code_injection_test.go
Due: unit

feat(detectors): migrate fileless_execution signature to detector
  detectors/fileless_execution.go
  detectors/fileless_execution_test.go
  signatures/golang/export.go
  signatures/golang/fileless_execution.go
  signatures/golang/fileless_execution_test.go
Due: unit

feat(detectors): migrate ptrace_code_injection signature to detector
  detectors/ptrace_code_injection.go
  detectors/ptrace_code_injection_test.go
  signatures/golang/export.go
  signatures/golang/ptrace_code_injection.go
  signatures/golang/ptrace_code_injection_test.go
Due: unit

feat(detectors): migrate docker_abuse signature to detector
  detectors/docker_abuse.go
  detectors/docker_abuse_test.go
  signatures/golang/docker_abuse.go
  signatures/golang/docker_abuse_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate cgroup_notify_on_release_modification signature to detector
  detectors/cgroup_notify_on_release_modification.go
  detectors/cgroup_notify_on_release_modification_test.go
  signatures/golang/cgroup_notify_on_release_modification.go
  signatures/golang/cgroup_notify_on_release_modification_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate stdio_over_socket signature to detector
  detectors/stdio_over_socket.go
  detectors/stdio_over_socket_test.go
  signatures/golang/export.go
  signatures/golang/stdio_over_socket.go
  signatures/golang/stdio_over_socket_test.go
Due: unit

feat(detectors): migrate k8s_service_account_token signature to detector
  detectors/k8s_service_account_token.go
  detectors/k8s_service_account_token_test.go
  signatures/golang/export.go
  signatures/golang/k8s_service_account_token.go
  signatures/golang/k8s_service_account_token_test.go
Due: unit

feat(detectors): migrate system_request_key_config_modification signature to detector
  detectors/system_request_key_config_modification.go
  detectors/system_request_key_config_modification_test.go
  signatures/golang/export.go
  signatures/golang/system_request_key_config_modification.go
  signatures/golang/system_request_key_config_modification_test.go
Due: unit

feat(detectors): migrate sudoers_modification signature to detector
  detectors/sudoers_modification.go
  detectors/sudoers_modification_test.go
  signatures/golang/export.go
  signatures/golang/sudoers_modification.go
  signatures/golang/sudoers_modification_test.go
Due: unit

feat(detectors): migrate sched_debug_recon signature to detector
  detectors/sched_debug_recon.go
  detectors/sched_debug_recon_test.go
  signatures/golang/export.go
  signatures/golang/sched_debug_recon.go
  signatures/golang/sched_debug_recon_test.go
Due: unit

feat(detectors): migrate default_loader_modification signature to detector
  detectors/default_loader_modification.go
  detectors/default_loader_modification_test.go
  signatures/golang/default_loader_modification.go
  signatures/golang/default_loader_modification_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate kubernetes_api_connection signature to detector
  detectors/kubernetes_api_connection.go
  detectors/kubernetes_api_connection_test.go
  signatures/golang/kubernetes_api_connection.go
  signatures/golang/kubernetes_api_connection_test.go
Due: unit

feat(detectors): migrate illegitimate_shell signature to detector
  detectors/illegitimate_shell.go
  detectors/illegitimate_shell_test.go
  signatures/golang/export.go
  signatures/golang/illegitimate_shell.go
  signatures/golang/illegitimate_shell_test.go
Due: unit

feat(detectors): migrate kernel_module_loading signature to detector
  detectors/kernel_module_loading.go
  detectors/kernel_module_loading_test.go
  signatures/golang/export.go
  signatures/golang/kernel_module_loading.go
  signatures/golang/kernel_module_loading_test.go
Due: unit
