Repository aquasecurity/tracee: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

# Codecov configuration for Tracee
# This file configures how code coverage is measured and reported

coverage:
  status:
    project:
      default:
        target: auto         # Start with current coverage as baseline
        threshold: 1%        # Allow 1% decrease without failing
        if_ci_failed: error  # Fail if CI failed
    patch:
      default:
        target: 60%          # New code should have reasonable coverage
        threshold: 10%       # More flexibility for initial adoption
        if_ci_failed: error

  ignore:
    # Ignore generated files and vendor dependencies
    - "3rdparty/**/*"
    - "vendor/**/*"
    - "**/*.pb.go"
    - "**/mock_*.go"
    - "**/*_mock.go"
    - "**/testdata/**/*"
    - "tests/**/*"
    - "**/*_test.go"
    # Ignore build and CI scripts
    - "scripts/**/*"
    - "builder/**/*"
    - "deploy/**/*"
    # Ignore documentation
    - "docs/**/*"
    - "examples/**/*"
    - "brand/**/*"
    # Runtime enrichers cleanup is tested via integration tests
    - "pkg/containers/runtime/docker.go"
    - "pkg/containers/runtime/containerd.go"
    - "pkg/containers/runtime/crio.go"

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: true

flags:
  unit:
    paths:
      - cmd/
      - pkg/
      - signatures/
  integration:
    paths:
      - cmd/
      - pkg/

github_checks:
  annotations: true

style: fix linter warnings
  cmd/tracee-bench/main.go
  cmd/tracee/cmd/root.go
  common/bitwise/bitwise_test.go
  common/digest/hash_test.go
  common/environment/amount_test.go
  common/environment/kernel_config.go
  common/proc/status_test.go
  common/set/set_test.go
  common/system/monitor_test.go
  common/tests/helpers_test.go
  common/timeutil/time_test.go
  pkg/cmd/flags/stores.go
  pkg/cmd/list.go
  pkg/cmd/printer/printer.go
  pkg/cmd/printer/printer_test.go
  pkg/datastores/container/runtime/runtime.go
  pkg/datastores/dns/dnscache_test.go
  pkg/datastores/process/proctree_test.go
  pkg/datastores/symbol/kernel_test.go
  pkg/datastores/symbol/table_test.go
  pkg/ebpf/events_pipeline.go
  pkg/events/derive/net_packet_helpers.go
  pkg/filters/bool_test.go
  pkg/filters/numeric_test.go
  pkg/filters/processtree_test.go
  pkg/filters/scope_test.go
  pkg/filters/sets/sets_test.go
  pkg/filters/string_test.go
  pkg/server/grpc/server_test.go
  pkg/server/http/server.go
  tests/compatibility/compatibility_test.go
  tests/e2e-inst-signatures/e2e-set_fs_pwd.go
  tests/integration/capture_test.go
  tests/integration/container_events_test.go
  tests/integration/dependencies_test.go
  tests/integration/event_filters_test.go
  tests/integration/yaml_detector_test.go
  tests/testutils/exec.go
  tests/testutils/logger.go
Due: unit, integration

feat(detectors): implement recursive DetectedFrom chain tracking
  api/v1beta1/event_helpers.go
  docs/docs/detectors/api-reference.md
  pkg/detectors/dispatch.go
  pkg/events/conversion.go
Due: unit, integration

examples: add 3-level chained YAML detector example
  examples/detectors/yaml/CHAIN_TEST.md
  examples/detectors/yaml/chain_level1_netcat.yaml
  examples/detectors/yaml/chain_level2_container.yaml
  examples/detectors/yaml/chain_level3_k8s.yaml
Due: none

test: add unit tests for DetectedFrom chain tracking
  api/v1beta1/event_helpers_test.go
  pkg/detectors/dispatch_test.go
  pkg/events/conversion_test.go
Due: unit, integration

Deployed 8e4948e62 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/detectors/api-reference/index.html
  dev/docs/install/docker/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

ami
  .github/data/kernel-test-matrix-bck.json
  .github/data/kernel-test-matrix.json
Due: none

wip
  scripts/installation/install-ami-tooling.sh
  scripts/installation/prepare-ami.sh
Due: none

wip
  scripts/installation/install-deps-ubuntu.sh
Due: none

ami
  .github/data/kernel-test-matrix.json
Due: none

wip
  .github/workflows/pr.yaml
Due: none

wip3
  scripts/installation/install-clang.sh
  scripts/installation/install-deps-centos.sh
Due: none

wip
  scripts/installation/pull-test-images.sh
  tests/e2e-kernel-test.sh
Due: none

wipcheckout
  .github/workflows/codeql.yaml
  .github/workflows/mkdocs-dev.yaml
  .github/workflows/mkdocs-latest.yaml
  .github/workflows/performance.yaml
  .github/workflows/pr-sync.yaml
  .github/workflows/pr.yaml
  .github/workflows/publish-helm.yaml
  .github/workflows/release-snapshot.yaml
  .github/workflows/release.yaml
  .github/workflows/test-daily.yaml
  .github/workflows/test-helm-chart.yaml
Due: none

wip
  scripts/installation/install-ami-tooling.sh
Due: none

wip
  .github/actions/pull-test-images/action.yaml
  scripts/installation/pull-test-images.sh
Due: none

wip2
  scripts/installation/install-clang.sh
  scripts/installation/install-deps-centos.sh
  scripts/installation/install-deps-ubuntu.sh
  scripts/installation/prepare-ami.sh
Due: none

wip4
  scripts/installation/prepare-ami.sh
Due: none

wip
  .github/actions/setup-tracee-ubuntu/action.yaml
  .github/workflows/pr.yaml
Due: none

wip
  .github/data/kernel-test-matrix-bck.json
  .github/data/kernel-test-matrix.json
  .github/workflows/pr.yaml
  scripts/installation/prepare-ami.sh
Due: none

feat(detectors): add CEL support to YAML detectors
  docs/docs/detectors/yaml-detectors.md
  examples/detectors/yaml/chain_level1_netcat.yaml
  examples/detectors/yaml/chain_level2_container.yaml
  examples/detectors/yaml/chain_level3_k8s.yaml
  examples/detectors/yaml/suspicious_binary_execution.yaml
  go.mod
  go.sum
  pkg/detectors/yaml/cel_env.go
  pkg/detectors/yaml/cel_macros_test.go
  pkg/detectors/yaml/detector.go
  pkg/detectors/yaml/extractor.go
  pkg/detectors/yaml/schema.go
  pkg/detectors/yaml/testdata/valid_derived.yaml
  pkg/detectors/yaml/testdata/valid_threat.yaml
  pkg/detectors/yaml/validator.go
  tests/integration/yaml_detector_test.go
Due: unit, integration

detectors: add shared list variables for YAML detectors
  docs/docs/detectors/yaml-detectors.md
  examples/detectors/yaml/lists/shell_binaries.yaml
  examples/detectors/yaml/shell_execution_detector.yaml
  pkg/detectors/yaml/cel_env.go
  pkg/detectors/yaml/cel_macros_test.go
  pkg/detectors/yaml/detector.go
  pkg/detectors/yaml/list_loader.go
  pkg/detectors/yaml/list_loader_test.go
  pkg/detectors/yaml/list_schema.go
  pkg/detectors/yaml/loader.go
  pkg/detectors/yaml/validator.go
Due: unit, integration

feat(detectors): add string utility functions to CEL expressions
  docs/docs/detectors/yaml-detectors.md
  pkg/detectors/yaml/cel_env.go
  pkg/detectors/yaml/cel_strings.go
  pkg/detectors/yaml/cel_strings_test.go
Due: unit, integration

detectors/yaml: add datastore access to CEL expressions
  docs/docs/detectors/yaml-detectors.md
  pkg/detectors/yaml/cel_datastores.go
  pkg/detectors/yaml/cel_datastores_test.go
  pkg/detectors/yaml/cel_env.go
  pkg/detectors/yaml/cel_macros_test.go
  pkg/detectors/yaml/detector.go
  pkg/detectors/yaml/validator.go
Due: unit, integration

feat(detectors): migrate hooked_syscall to detector framework
  detectors/go.mod
  detectors/go.sum
  detectors/hooked_syscall.go
  detectors/hooked_syscall_test.go
Due: none

feat(detectors): migrate proc_fops_hooking signature to detector
  detectors/proc_fops_hooking.go
  detectors/proc_fops_hooking_test.go
  signatures/golang/export.go
  signatures/golang/proc_fops_hooking.go
  signatures/golang/proc_fops_hooking_test.go
Due: unit

feat(detectors): migrate kubernetes_certificate_theft_attempt signature to detector
  detectors/kubernetes_certificate_theft_attempt.go
  detectors/kubernetes_certificate_theft_attempt_test.go
  signatures/golang/export.go
  signatures/golang/kubernetes_certificate_theft_attempt.go
  signatures/golang/kubernetes_certificate_theft_attempt_test.go
Due: unit

fix(tests): update e2e-kernel-test to work with detectors
  tests/e2e-kernel-test.sh
Due: none

feat(detectors): migrate system_request_key_config_modification signature to detector
  detectors/system_request_key_config_modification.go
  detectors/system_request_key_config_modification_test.go
  signatures/golang/export.go
  signatures/golang/system_request_key_config_modification.go
  signatures/golang/system_request_key_config_modification_test.go
Due: unit

feat(detectors): migrate core_pattern_modification signature to detector
  detectors/core_pattern_modification.go
  detectors/core_pattern_modification_test.go
  signatures/golang/core_pattern_modification.go
  signatures/golang/core_pattern_modification_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate dropped_executable signature to detector
  detectors/dropped_executable.go
  detectors/dropped_executable_test.go
  signatures/golang/dropped_executable.go
  signatures/golang/dropped_executable_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate kubernetes_api_connection signature to detector
  detectors/kubernetes_api_connection.go
  detectors/kubernetes_api_connection_test.go
  signatures/golang/kubernetes_api_connection.go
  signatures/golang/kubernetes_api_connection_test.go
Due: unit
