Repository aquasecurity/tracee: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

# Codecov configuration for Tracee
# This file configures how code coverage is measured and reported

coverage:
  status:
    project:
      default:
        target: auto         # Start with current coverage as baseline
        threshold: 1%        # Allow 1% decrease without failing
        if_ci_failed: error  # Fail if CI failed
    patch:
      default:
        target: 60%          # New code should have reasonable coverage
        threshold: 10%       # More flexibility for initial adoption
        if_ci_failed: error

  ignore:
    # Ignore generated files and vendor dependencies
    - "3rdparty/**/*"
    - "vendor/**/*"
    - "**/*.pb.go"
    - "**/mock_*.go"
    - "**/*_mock.go"
    - "**/testdata/**/*"
    - "tests/**/*"
    - "**/*_test.go"
    # Ignore build and CI scripts
    - "scripts/**/*"
    - "builder/**/*"
    - "deploy/**/*"
    # Ignore documentation
    - "docs/**/*"
    - "examples/**/*"
    - "brand/**/*"
    # Runtime enrichers cleanup is tested via integration tests
    - "pkg/containers/runtime/docker.go"
    - "pkg/containers/runtime/containerd.go"
    - "pkg/containers/runtime/crio.go"

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: true

flags:
  unit:
    paths:
      - cmd/
      - pkg/
      - signatures/
  integration:
    paths:
      - cmd/
      - pkg/

github_checks:
  annotations: true

feat(detectors): migrate system_request_key_config_modification signature to detector
  detectors/system_request_key_config_modification.go
  detectors/system_request_key_config_modification_test.go
  signatures/golang/export.go
  signatures/golang/system_request_key_config_modification.go
  signatures/golang/system_request_key_config_modification_test.go
Due: unit

feat(detectors): migrate cgroup_release_agent_modification signature to detector
  detectors/cgroup_release_agent_modification.go
  detectors/cgroup_release_agent_modification_test.go
  signatures/golang/cgroup_release_agent_modification.go
  signatures/golang/cgroup_release_agent_modification_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate dynamic_code_loading signature to detector
  detectors/dynamic_code_loading.go
  detectors/dynamic_code_loading_test.go
  signatures/golang/dynamic_code_loading.go
  signatures/golang/dynamic_code_loading_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate kernel_module_loading signature to detector
  detectors/kernel_module_loading.go
  detectors/kernel_module_loading_test.go
  signatures/golang/export.go
  signatures/golang/kernel_module_loading.go
  signatures/golang/kernel_module_loading_test.go
Due: unit

feat(detectors): migrate sched_debug_recon signature to detector
  detectors/sched_debug_recon.go
  detectors/sched_debug_recon_test.go
  signatures/golang/export.go
  signatures/golang/sched_debug_recon.go
  signatures/golang/sched_debug_recon_test.go
Due: unit

feat(detectors): migrate disk_mount signature to detector
  detectors/disk_mount.go
  detectors/disk_mount_test.go
  signatures/golang/disk_mount.go
  signatures/golang/disk_mount_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate syscall_table_hooking signature to detector
  detectors/syscall_table_hooking.go
  detectors/syscall_table_hooking_test.go
  signatures/golang/export.go
  signatures/golang/syscall_table_hooking.go
  signatures/golang/syscall_table_hooking_test.go
Due: unit

feat(detectors): migrate ld_preload signature to detector
  detectors/ld_preload.go
  detectors/ld_preload_test.go
  signatures/golang/export.go
  signatures/golang/ld_preload.go
  signatures/golang/ld_preload_test.go
Due: unit

feat(detectors): migrate fileless_execution signature to detector
  detectors/fileless_execution.go
  detectors/fileless_execution_test.go
  signatures/golang/export.go
  signatures/golang/fileless_execution.go
  signatures/golang/fileless_execution_test.go
Due: unit

feat(detectors): migrate rcd_modification signature to detector
  detectors/rcd_modification.go
  detectors/rcd_modification_test.go
  signatures/golang/export.go
  signatures/golang/rcd_modification.go
  signatures/golang/rcd_modification_test.go
Due: unit

feat(detectors): migrate proc_mem_code_injection signature to detector
  detectors/proc_mem_code_injection.go
  detectors/proc_mem_code_injection_test.go
  signatures/golang/export.go
  signatures/golang/proc_mem_code_injection.go
  signatures/golang/proc_mem_code_injection_test.go
Due: unit

feat(detectors): migrate proc_fops_hooking signature to detector
  detectors/proc_fops_hooking.go
  detectors/proc_fops_hooking_test.go
  signatures/golang/export.go
  signatures/golang/proc_fops_hooking.go
  signatures/golang/proc_fops_hooking_test.go
Due: unit

feat(detectors): migrate ptrace_code_injection signature to detector
  detectors/ptrace_code_injection.go
  detectors/ptrace_code_injection_test.go
  signatures/golang/export.go
  signatures/golang/ptrace_code_injection.go
  signatures/golang/ptrace_code_injection_test.go
Due: unit

feat(detectors): migrate kubernetes_api_connection signature to detector
  detectors/kubernetes_api_connection.go
  detectors/kubernetes_api_connection_test.go
  signatures/golang/kubernetes_api_connection.go
  signatures/golang/kubernetes_api_connection_test.go
Due: unit

docs: improve testing guide with performance tips
  .cursor/rules/testing-guide.mdc
Due: none

datastores: add lifecycle management to registry
  pkg/datastores/manager.go
  pkg/datastores/registry.go
  pkg/datastores/registry_test.go
Due: unit, integration

datastores: add internal accessors to RegistryManager
  pkg/datastores/manager.go
  pkg/datastores/registry.go
Due: unit, integration

datastores: use registry lifecycle for initialization
  pkg/datastores/container/containers.go
  pkg/ebpf/tracee.go
Due: unit, integration

datastores: decouple Tracee from direct datastore fields
  pkg/ebpf/capture.go
  pkg/ebpf/events_enrich.go
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/processor_dns.go
  pkg/ebpf/processor_proctree.go
  pkg/ebpf/processor_proctree_bench_test.go
  pkg/ebpf/signature_engine.go
  pkg/ebpf/tracee.go
Due: unit, integration

feat(detectors): add enrichment requirement validation
  api/v1beta1/detection/detector.go
  pkg/detectors/dispatch_test.go
  pkg/detectors/engine.go
  pkg/detectors/engine_test.go
  pkg/detectors/registry.go
  pkg/detectors/registry_test.go
  pkg/ebpf/tracee.go
Due: unit, integration

build: track detectors/ and module dependencies for rebuild
  Makefile
Due: none

datastores: add GetAncestry() method to ProcessStore
  api/v1beta1/datastores/interfaces.go
  pkg/datastores/process/store.go
  pkg/datastores/process/store_test.go
Due: unit, integration

detectors: wire GetAncestry() into auto-population
  pkg/detectors/dispatch.go
  pkg/detectors/dispatch_test.go
Due: unit, integration

feat(scripts): enhance process management in tracee scripts
  scripts/tracee_common.sh
  scripts/tracee_start.sh
  scripts/tracee_stop.sh
Due: none

Implement streams and destinations
  cmd/tracee/cmd/analyze.go
  docs/docs/outputs/index.md
  docs/docs/outputs/output-formats.md
  docs/docs/outputs/streams.md
  examples/config/global_config.json
  examples/config/global_config.yaml
  pkg/cmd/cobra/cobra.go
  pkg/cmd/flags/config.go
  pkg/cmd/flags/config_test.go
  pkg/cmd/flags/errors.go
  pkg/cmd/flags/output.go
  pkg/cmd/flags/output_test.go
  pkg/cmd/printer/broadcast.go
  pkg/cmd/printer/printer.go
  pkg/cmd/printer/printer_test.go
  pkg/cmd/tracee.go
  pkg/config/config.go
  pkg/ebpf/tracee.go
  pkg/server/grpc/tracee.go
  pkg/streams/streams.go
  pkg/streams/streams_test.go
  tests/compatibility/compatibility_test.go
  tests/integration/container_events_test.go
  tests/integration/dependencies_test.go
  tests/integration/event_filters_test.go
Due: unit, integration

Correct typo
  pkg/cmd/printer/printer.go
Due: unit, integration

Make all printer invoke the same common code in FromStream method
  pkg/cmd/printer/printer.go
Due: unit, integration

flag(server)!: new flag format
  cmd/tracee/cmd/root.go
  docs/docs/flags/server.1.md
  docs/man/server.1
  pkg/cmd/cobra/cobra.go
  pkg/cmd/flags/config.go
  pkg/cmd/flags/config_test.go
  pkg/cmd/flags/server.go
  pkg/cmd/flags/server/server.go
  pkg/cmd/flags/server/server_test.go
  pkg/cmd/flags/server_test.go
  pkg/cmd/tracee.go
  pkg/server/grpc/server.go
  pkg/server/grpc/server_test.go
  pkg/server/http/server.go
  pkg/server/http/server_test.go
Due: unit, integration

Deployed 41bd3c107 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/flags/server.1/index.html
  dev/docs/install/docker/index.html
  dev/man/server.1
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

flag(runtime)!: new flag format
  cmd/tracee/cmd/root.go
  deploy/helm/tracee/templates/tracee-config.yaml
  deploy/helm/tracee/values.yaml
  docs/docs/flags/runtime.1.md
  docs/docs/install/config/index.md
  docs/docs/policies/usage/cli.md
  docs/man/runtime.1
  examples/config/global_config.json
  examples/config/global_config.yaml
  pkg/cmd/cobra/cobra.go
  pkg/cmd/flags/config.go
  pkg/cmd/flags/config_test.go
  pkg/cmd/flags/runtime.go
  pkg/cmd/flags/runtime_test.go
  pkg/cmd/tracee.go
  scripts/tracee_common.sh
  scripts/tracee_start.sh
  scripts/tracee_stop.sh
  tests/e2e-inst-test.sh
  tests/e2e-kernel-test.sh
  tests/e2e-net-test.sh
Due: unit, integration

Deployed a33d3bad4 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/flags/runtime.1/index.html
  dev/docs/install/config/index.html
  dev/docs/policies/usage/cli/index.html
  dev/man/runtime.1
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

flag(runtime)!: new flag format
  cmd/tracee/cmd/man.go
  cmd/tracee/cmd/root.go
  deploy/helm/tracee/templates/tracee-config.yaml
  deploy/helm/tracee/values.yaml
  docs/docs/advanced/data-sources/builtin/dns.md
  docs/docs/advanced/data-sources/builtin/process-tree.md
  docs/docs/flags/stores.1.md
  docs/docs/install/config/index.md
  docs/docs/policies/usage/cli.md
  docs/man/stores.1
  examples/config/global_config.json
  examples/config/global_config.yaml
  pkg/cmd/cobra/cobra.go
  pkg/cmd/flags/config.go
  pkg/cmd/flags/config_test.go
  pkg/cmd/flags/dnscache.go
  pkg/cmd/flags/proctree.go
  pkg/cmd/flags/stores.go
  pkg/cmd/flags/stores_test.go
  pkg/datastores/dns/dnscache.go
  pkg/datastores/process/proctree.go
  tests/e2e-inst-signatures/e2e-proctree_data_source.go
  tests/e2e-inst-test.sh
Due: unit, integration

Deployed 8d3009a2c to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/advanced/data-sources/builtin/dns/index.html
  dev/docs/advanced/data-sources/builtin/process-tree/index.html
  dev/docs/flags/stores.1/index.html
  dev/docs/install/docker/index.html
  dev/docs/policies/usage/cli/index.html
  dev/man/stores.1
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none
