Repository aquasecurity/tracee: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

# Codecov configuration for Tracee
# This file configures how code coverage is measured and reported

coverage:
  status:
    project:
      default:
        target: auto         # Start with current coverage as baseline
        threshold: 1%        # Allow 1% decrease without failing
        if_ci_failed: error  # Fail if CI failed
    patch:
      default:
        target: 60%          # New code should have reasonable coverage
        threshold: 10%       # More flexibility for initial adoption
        if_ci_failed: error

  ignore:
    # Ignore generated files and vendor dependencies
    - "3rdparty/**/*"
    - "vendor/**/*"
    - "**/*.pb.go"
    - "**/mock_*.go"
    - "**/*_mock.go"
    - "**/testdata/**/*"
    - "tests/**/*"
    - "**/*_test.go"
    # Ignore build and CI scripts
    - "scripts/**/*"
    - "builder/**/*"
    - "deploy/**/*"
    # Ignore documentation
    - "docs/**/*"
    - "examples/**/*"
    - "brand/**/*"
    # Runtime enrichers cleanup is tested via integration tests
    - "pkg/containers/runtime/docker.go"
    - "pkg/containers/runtime/containerd.go"
    - "pkg/containers/runtime/crio.go"

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: true

flags:
  unit:
    paths:
      - cmd/
      - pkg/
      - signatures/
  integration:
    paths:
      - cmd/
      - pkg/

github_checks:
  annotations: true

feat(detectors): migrate aslr_inspection signature to detector framework
  detectors/aslr_inspection.go
  detectors/aslr_inspection_test.go
  signatures/golang/aslr_inspection.go
  signatures/golang/aslr_inspection_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate kubernetes_certificate_theft_attempt signature to detector
  detectors/kubernetes_certificate_theft_attempt.go
  detectors/kubernetes_certificate_theft_attempt_test.go
  signatures/golang/export.go
  signatures/golang/kubernetes_certificate_theft_attempt.go
  signatures/golang/kubernetes_certificate_theft_attempt_test.go
Due: unit

feat(detectors): migrate fileless_execution signature to detector
  detectors/fileless_execution.go
  detectors/fileless_execution_test.go
  signatures/golang/export.go
  signatures/golang/fileless_execution.go
  signatures/golang/fileless_execution_test.go
Due: unit

feat(detectors): migrate scheduled_task_modification signature to detector
  detectors/scheduled_task_modification.go
  detectors/scheduled_task_modification_test.go
  signatures/golang/export.go
  signatures/golang/scheduled_task_modification.go
  signatures/golang/scheduled_task_modification_test.go
Due: unit

feat(detectors): migrate dropped_executable signature to detector
  detectors/dropped_executable.go
  detectors/dropped_executable_test.go
  signatures/golang/dropped_executable.go
  signatures/golang/dropped_executable_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate proc_mem_access signature to detector
  detectors/proc_mem_access.go
  detectors/proc_mem_access_test.go
  signatures/golang/export.go
  signatures/golang/proc_mem_access.go
  signatures/golang/proc_mem_access_test.go
Due: unit

feat(detectors): migrate illegitimate_shell signature to detector
  detectors/illegitimate_shell.go
  detectors/illegitimate_shell_test.go
  signatures/golang/export.go
  signatures/golang/illegitimate_shell.go
  signatures/golang/illegitimate_shell_test.go
Due: unit

feat(detectors): migrate cgroup_release_agent_modification signature to detector
  detectors/cgroup_release_agent_modification.go
  detectors/cgroup_release_agent_modification_test.go
  signatures/golang/cgroup_release_agent_modification.go
  signatures/golang/cgroup_release_agent_modification_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate cgroup_notify_on_release_modification signature to detector
  detectors/cgroup_notify_on_release_modification.go
  detectors/cgroup_notify_on_release_modification_test.go
  signatures/golang/cgroup_notify_on_release_modification.go
  signatures/golang/cgroup_notify_on_release_modification_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate ld_preload signature to detector
  detectors/ld_preload.go
  detectors/ld_preload_test.go
  signatures/golang/export.go
  signatures/golang/ld_preload.go
  signatures/golang/ld_preload_test.go
Due: unit

feat(detectors): migrate hooked_syscall to detector framework
  detectors/go.mod
  detectors/go.sum
  detectors/hooked_syscall.go
  detectors/hooked_syscall_test.go
Due: none

feat(detectors): migrate proc_kcore_read signature to detector framework
  detectors/proc_kcore_read.go
  detectors/proc_kcore_read_test.go
  signatures/golang/export.go
  signatures/golang/proc_kcore_read.go
  signatures/golang/proc_kcore_read_test.go
Due: unit

feat(detectors): migrate kernel_module_loading signature to detector
  detectors/kernel_module_loading.go
  detectors/kernel_module_loading_test.go
  signatures/golang/export.go
  signatures/golang/kernel_module_loading.go
  signatures/golang/kernel_module_loading_test.go
Due: unit

feat(detectors): migrate anti_debugging_ptraceme signature to detector framework
  detectors/anti_debugging.go
  detectors/anti_debugging_test.go
  detectors/go.mod
  detectors/go.sum
  signatures/golang/anti_debugging_ptraceme.go
  signatures/golang/anti_debugging_ptraceme_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate core_pattern_modification signature to detector
  detectors/core_pattern_modification.go
  detectors/core_pattern_modification_test.go
  signatures/golang/core_pattern_modification.go
  signatures/golang/core_pattern_modification_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate hooked_seq_ops to detector framework
  detectors/hooked_seq_ops.go
  detectors/hooked_seq_ops_test.go
Due: none

feat(detectors): migrate dynamic_code_loading signature to detector
  detectors/dynamic_code_loading.go
  detectors/dynamic_code_loading_test.go
  signatures/golang/dynamic_code_loading.go
  signatures/golang/dynamic_code_loading_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate process_vm_write_code_injection signature to detector
  detectors/process_vm_write_code_injection.go
  detectors/process_vm_write_code_injection_test.go
  signatures/golang/export.go
  signatures/golang/process_vm_write_code_injection.go
  signatures/golang/process_vm_write_code_injection_test.go
Due: unit

feat(detectors): migrate k8s_service_account_token signature to detector
  detectors/k8s_service_account_token.go
  detectors/k8s_service_account_token_test.go
  signatures/golang/export.go
  signatures/golang/k8s_service_account_token.go
  signatures/golang/k8s_service_account_token_test.go
Due: unit

feat(detectors): migrate proc_mem_code_injection signature to detector
  detectors/proc_mem_code_injection.go
  detectors/proc_mem_code_injection_test.go
  signatures/golang/export.go
  signatures/golang/proc_mem_code_injection.go
  signatures/golang/proc_mem_code_injection_test.go
Due: unit

feat(detectors): migrate docker_abuse signature to detector
  detectors/docker_abuse.go
  detectors/docker_abuse_test.go
  signatures/golang/docker_abuse.go
  signatures/golang/docker_abuse_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate sudoers_modification signature to detector
  detectors/sudoers_modification.go
  detectors/sudoers_modification_test.go
  signatures/golang/export.go
  signatures/golang/sudoers_modification.go
  signatures/golang/sudoers_modification_test.go
Due: unit

feat(detectors): migrate system_request_key_config_modification signature to detector
  detectors/system_request_key_config_modification.go
  detectors/system_request_key_config_modification_test.go
  signatures/golang/export.go
  signatures/golang/system_request_key_config_modification.go
  signatures/golang/system_request_key_config_modification_test.go
Due: unit

feat(detectors): migrate syscall_table_hooking signature to detector
  detectors/syscall_table_hooking.go
  detectors/syscall_table_hooking_test.go
  signatures/golang/export.go
  signatures/golang/syscall_table_hooking.go
  signatures/golang/syscall_table_hooking_test.go
Due: unit

fix(tests): update e2e-kernel-test to work with detectors
  tests/e2e-kernel-test.sh
Due: none

fix: restore type-specific JSON field names for EventValue
  api/go.mod
  api/go.sum
  api/v1beta1/event_json.go
Due: none

test: add EventValue JSON format validation test
  api/v1beta1/event_json_test.go
Due: none

feat(detectors): add CEL support to YAML detectors
  docs/docs/detectors/yaml-detectors.md
  examples/detectors/yaml/chain_level1_netcat.yaml
  examples/detectors/yaml/chain_level2_container.yaml
  examples/detectors/yaml/chain_level3_k8s.yaml
  examples/detectors/yaml/suspicious_binary_execution.yaml
  go.mod
  go.sum
  pkg/detectors/yaml/cel_env.go
  pkg/detectors/yaml/cel_macros_test.go
  pkg/detectors/yaml/detector.go
  pkg/detectors/yaml/extractor.go
  pkg/detectors/yaml/schema.go
  pkg/detectors/yaml/testdata/valid_derived.yaml
  pkg/detectors/yaml/testdata/valid_threat.yaml
  pkg/detectors/yaml/validator.go
  tests/integration/yaml_detector_test.go
Due: unit, integration

feat(detectors): add datastore access to yaml CEL expressions
  docs/docs/detectors/yaml-detectors.md
  pkg/detectors/yaml/cel_datastores.go
  pkg/detectors/yaml/cel_datastores_test.go
  pkg/detectors/yaml/cel_env.go
  pkg/detectors/yaml/cel_macros_test.go
  pkg/detectors/yaml/detector.go
  pkg/detectors/yaml/validator.go
Due: unit, integration

feat(detectors): add string utility functions to CEL expressions
  docs/docs/detectors/yaml-detectors.md
  pkg/detectors/yaml/cel_env.go
  pkg/detectors/yaml/cel_strings.go
  pkg/detectors/yaml/cel_strings_test.go
Due: unit, integration

feat(detectors): require type field in YAML files, enable flat directory structure
  docs/docs/detectors/yaml-detectors.md
  examples/detectors/yaml/chain_level1_netcat.yaml
  examples/detectors/yaml/chain_level2_container.yaml
  examples/detectors/yaml/chain_level3_k8s.yaml
  examples/detectors/yaml/shell_binaries.yaml
  examples/detectors/yaml/shell_execution_detector.yaml
  examples/detectors/yaml/suspicious_binary_execution.yaml
  pkg/detectors/yaml/detector.go
  pkg/detectors/yaml/list_loader.go
  pkg/detectors/yaml/list_loader_test.go
  pkg/detectors/yaml/loader.go
  pkg/detectors/yaml/loader_test.go
  pkg/detectors/yaml/schema.go
  pkg/detectors/yaml/testdata/minimal.yaml
  pkg/detectors/yaml/testdata/valid_derived.yaml
  pkg/detectors/yaml/testdata/valid_threat.yaml
  pkg/detectors/yaml/validator.go
  tests/integration/yaml_detector_test.go
Due: unit, integration

feat(detectors): add shared list variables for YAML detectors
  docs/docs/detectors/yaml-detectors.md
  examples/detectors/yaml/lists/shell_binaries.yaml
  examples/detectors/yaml/shell_execution_detector.yaml
  pkg/detectors/yaml/cel_env.go
  pkg/detectors/yaml/cel_macros_test.go
  pkg/detectors/yaml/detector.go
  pkg/detectors/yaml/list_loader.go
  pkg/detectors/yaml/list_loader_test.go
  pkg/detectors/yaml/list_schema.go
  pkg/detectors/yaml/loader.go
  pkg/detectors/yaml/validator.go
Due: unit, integration

Add debug message to stack_pivot test
  tests/e2e-inst-signatures/e2e-stack_pivot.go
Due: none

test(detectors): fix intermittent race in Test_YAMLDetectorFilters
  tests/integration/yaml_detector_test.go
Due: none

feat(datastores): add ListContainers API with optional filtering
  api/v1beta1/datastores/interfaces.go
  docs/docs/detectors/datastore-api.md
  pkg/datastores/container/store.go
  pkg/datastores/container/store_test.go
  pkg/datastores/null_stores.go
  pkg/datastores/registry_test.go
Due: unit, integration

feat(datastores): auto-enrich containers at startup with --enrichment flag
  docs/docs/detectors/datastore-api.md
  pkg/datastores/container/containers.go
Due: unit, integration

fix(ci): update Ubuntu 24.04 images
  .github/data/kernel-test-matrix.json
  .github/workflows/pr.yaml
Due: none
