Repository aquasecurity/tracee: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

feat(detectors): migrate system_request_key_config_modification signature to detector
  detectors/system_request_key_config_modification.go
  detectors/system_request_key_config_modification_test.go
  signatures/golang/export.go
  signatures/golang/system_request_key_config_modification.go
  signatures/golang/system_request_key_config_modification_test.go
Due: unit

feat(detectors): migrate core_pattern_modification signature to detector
  detectors/core_pattern_modification.go
  detectors/core_pattern_modification_test.go
  signatures/golang/core_pattern_modification.go
  signatures/golang/core_pattern_modification_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate dynamic_code_loading signature to detector
  detectors/dynamic_code_loading.go
  detectors/dynamic_code_loading_test.go
  signatures/golang/dynamic_code_loading.go
  signatures/golang/dynamic_code_loading_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate proc_mem_code_injection signature to detector
  detectors/proc_mem_code_injection.go
  detectors/proc_mem_code_injection_test.go
  signatures/golang/export.go
  signatures/golang/proc_mem_code_injection.go
  signatures/golang/proc_mem_code_injection_test.go
Due: unit

feat(detectors): migrate syscall_table_hooking signature to detector
  detectors/syscall_table_hooking.go
  detectors/syscall_table_hooking_test.go
  signatures/golang/export.go
  signatures/golang/syscall_table_hooking.go
  signatures/golang/syscall_table_hooking_test.go
Due: unit

feat(detectors): migrate cgroup_notify_on_release_modification signature to detector
  detectors/cgroup_notify_on_release_modification.go
  detectors/cgroup_notify_on_release_modification_test.go
  signatures/golang/cgroup_notify_on_release_modification.go
  signatures/golang/cgroup_notify_on_release_modification_test.go
  signatures/golang/export.go
Due: unit

Deployed 10b348f2c to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/detectors/api-reference/index.html
  dev/docs/detectors/quickstart/index.html
  dev/docs/install/docker/index.html
  dev/search/search_index.json
Due: none

feat(events): require explicit tag= syntax for selecting events by tag
  docs/docs/events/index.md
  docs/docs/flags/events.1.md
  docs/docs/troubleshooting.md
  docs/man/events.1
  pkg/cmd/flags/errors.go
  pkg/cmd/flags/event.go
  pkg/cmd/flags/event_test.go
  pkg/cmd/flags/policy.go
  pkg/cmd/flags/policy_test.go
  tests/integration/event_filters_test.go
Due: unit, integration

Deployed f3def2f2e to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/events/index.html
  dev/docs/flags/events.1/index.html
  dev/docs/install/docker/index.html
  dev/docs/troubleshooting/index.html
  dev/man/events.1
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

feat(cli): revamp tracee list with events/detectors/policies
  cmd/tracee/cmd/list.go
  cmd/tracee/cmd/list_detectors.go
  cmd/tracee/cmd/list_events.go
  cmd/tracee/cmd/list_policies.go
  cmd/tracee/cmd/man.go
  docs/docs/flags/list-detectors.1.md
  docs/docs/flags/list-events.1.md
  docs/docs/flags/list-policies.1.md
  docs/docs/flags/list.1.md
  docs/man/list-detectors.1
  docs/man/list-events.1
  docs/man/list-policies.1
  docs/man/list.1
  pkg/cmd/flags/list_filter.go
  pkg/cmd/flags/list_filter_test.go
  pkg/cmd/list.go
  pkg/cmd/list_test.go
  pkg/detectors/events.go
Due: unit, integration

feat(list): display shared lists in list detectors command
  cmd/tracee/cmd/list_detectors.go
  cmd/tracee/cmd/man.go
  docs/docs/flags/list-detectors.1.md
  pkg/cmd/list.go
  pkg/cmd/list_test.go
  pkg/detectors/events.go
  pkg/detectors/yaml/loader.go
  pkg/detectors/yaml/loader_test.go
  tests/integration/yaml_detector_test.go
Due: unit, integration

Deployed 64445eebe to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/flags/list-detectors.1/index.html
  dev/docs/flags/list-events.1/index.html
  dev/docs/flags/list-policies.1/index.html
  dev/docs/flags/list.1/index.html
  dev/man/list-detectors.1
  dev/man/list-events.1
  dev/man/list-policies.1
  dev/man/list.1
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

fix(tests): prevent goroutine leaks in container_events_test on early failure
  tests/integration/container_events_test.go
Due: none

fix(container): skip Podman conmon cgroups
  pkg/datastores/container/containers.go
  pkg/datastores/container/containers_test.go
Due: unit, integration

refactor(flags): remove --runtime
  cmd/tracee/cmd/man.go
  cmd/tracee/cmd/root.go
  deploy/helm/tracee/templates/tracee-config.yaml
  deploy/helm/tracee/values.yaml
  docs/docs/flags/runtime.1.md
  docs/docs/install/config/index.md
  docs/docs/policies/usage/cli.md
  docs/man/runtime.1
  examples/config/global_config.json
  examples/config/global_config.yaml
  mkdocs.yml
  pkg/cmd/cobra/cobra.go
  pkg/cmd/flags/config.go
  pkg/cmd/flags/config_test.go
  pkg/cmd/flags/runtime.go
  pkg/cmd/flags/runtime_test.go
  pkg/cmd/initialize/bpfobject.go
  pkg/cmd/tracee.go
  scripts/tracee_start.sh
  scripts/tracee_stop.sh
  tests/e2e-kernel-test.sh
  tests/e2e-net-test.sh
  tests/testutils/tracee_integrated.go
Due: unit, integration

refactor(artifacts): rename capture to artifacts
  pkg/cmd/cobra/cobra.go
  pkg/cmd/flags/artifacts.go
  pkg/cmd/flags/artifacts_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/ebpf/net_capture.go
  pkg/ebpf/processor_funcs.go
  pkg/ebpf/tracee.go
  pkg/policy/policy_manager.go
  tests/integration/dependencies_test.go
  tests/testutils/tracee_integrated.go
Due: unit, integration

fix(artifacts): check file-read length
  pkg/config/config.go
  pkg/config/config_test.go
Due: unit, integration

feat(policies): add support to plain policies
  docs/docs/flags/policy.1.md
  docs/docs/policies/index.md
  docs/man/policy.1
  examples/policies/json/k8s/container_dns_events.json
  examples/policies/json/k8s/context_comm.json
  examples/policies/json/k8s/dig.json
  examples/policies/json/k8s/extend-default-policy.json
  examples/policies/json/k8s/new_containers.json
  examples/policies/json/k8s/new_pids.json
  examples/policies/json/k8s/not_containers.json
  examples/policies/json/k8s/openat_data_pahtname.json
  examples/policies/json/k8s/pid_equal.json
  examples/policies/json/k8s/scope_comm.json
  examples/policies/json/k8s/signature_events.json
  examples/policies/json/k8s/uid_higher_than_or_equal_to_zero.json
  examples/policies/json/plain/dig.json
  examples/policies/json/plain/new_containers.json
  examples/policies/json/plain/scope_comm.json
  examples/policies/yaml/k8s/container_dns_events.yaml
  examples/policies/yaml/k8s/context_comm.yaml
  examples/policies/yaml/k8s/dig.yaml
  examples/policies/yaml/k8s/extend-default-policy.yaml
  examples/policies/yaml/k8s/new_containers.yaml
  examples/policies/yaml/k8s/new_pids.yaml
  examples/policies/yaml/k8s/not_containers.yaml
  examples/policies/yaml/k8s/openat_data_pahtname.yaml
  examples/policies/yaml/k8s/pid_equal.yaml
  examples/policies/yaml/k8s/scope_comm.yaml
  examples/policies/yaml/k8s/signature_events.yaml
  examples/policies/yaml/k8s/uid_higher_than_or_equal_to_zero.yaml
  examples/policies/yaml/plain/dig.yaml
  examples/policies/yaml/plain/new_containers.yaml
  examples/policies/yaml/plain/scope_comm.yaml
  pkg/policy/v1beta1/policy_file.go
  pkg/policy/v1beta1/policy_file_test.go
Due: unit, integration

refactor(proctree): remove process.use-procfs option and always init from procfs
  deploy/helm/tracee/templates/tracee-config.yaml
  deploy/helm/tracee/values.yaml
  docs/docs/flags/stores.1.md
  docs/man/stores.1
  pkg/cmd/flags/config_test.go
  pkg/cmd/flags/stores.go
  pkg/cmd/flags/stores_test.go
  pkg/datastores/process/proctree.go
  pkg/datastores/process/proctree_bench_test.go
  pkg/datastores/process/proctree_feed.go
  pkg/datastores/process/proctree_procfs.go
  pkg/datastores/process/proctree_test.go
Due: unit, integration

feat(proctree): enrich executable path from procfs during init
  pkg/datastores/process/proctree_procfs.go
Due: unit, integration

Deployed 0f2799159 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/flags/policy.1/index.html
  dev/docs/install/docker/index.html
  dev/docs/policies/index.html
  dev/man/policy.1
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Deployed be3838952 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/flags/stores.1/index.html
  dev/docs/install/docker/index.html
  dev/man/stores.1
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

chore(ci): output system information
  .github/workflows/pr.yaml
  scripts/system_info.sh
Due: none

feat(proctree): enrich executable path from procfs during init
  cmd/tracee/cmd/analyze.go
  cmd/tracee/cmd/root.go
  pkg/analyze/analyze.go
  pkg/cmd/cobra/cobra.go
  pkg/cmd/tracee.go
  pkg/datastores/process/proctree_procfs.go
  pkg/detectors/dispatch.go
  pkg/events/event_id_translation.go
Due: unit, integration

docs: add subcomand reference
  docs/docs/flags/man.1.md
  docs/docs/flags/version.1.md
  docs/man/man.1
  docs/man/version.1
  mkdocs.yml
Due: none

refactor(flags)!: extract sort-events from options
  deploy/helm/tracee/templates/tracee-config.yaml
  deploy/helm/tracee/values.yaml
  deploy/kubernetes/tracee/tracee.yaml
  docs/docs/flags/output.1.md
  docs/docs/outputs/output-options.md
  docs/docs/outputs/sorting-events.md
  docs/docs/policies/usage/cli.md
  docs/man/output.1
  examples/config/global_config.yaml
  pkg/cmd/flags/config_test.go
  pkg/cmd/flags/output.go
  pkg/cmd/flags/output_test.go
  tests/e2e-inst-signatures/e2e-proctree_data_source.go
  tests/e2e-inst-test.sh
Due: unit, integration

Path conditions:
  unit: any of: cmd/, pkg/, signatures/
  integration: any of: cmd/, pkg/
