Repository aquasecurity/tracee: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

bpf: fix const-init warnings with newer Clang
  pkg/ebpf/c/common/ksymbols.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/events/core.go
Due: unit, integration

feat(events): parse mmap flags and setns nstype arguments
  common/parsers/data_parsers.go
  common/parsers/data_parsers_test.go
  pkg/events/parse_args.go
  pkg/events/parse_args_helpers.go
  pkg/events/parse_args_test.go
Due: unit, integration

test: fix intermittent failure in security_file_open filter test
  tests/integration/event_filters_test.go
Due: none

feat(datastores): Add WritableStore interface
  Makefile
  api/v1beta1/datastores/interfaces.go
  api/v1beta1/datastores/registry.go
  api/v1beta1/datastores/writable.pb.go
  api/v1beta1/datastores/writable.pb.json.go
  api/v1beta1/datastores/writable.proto
  api/v1beta1/datastores/writable_grpc.pb.go
  pkg/datastores/registry.go
  pkg/datastores/registry_test.go
Due: unit, integration

tests: reduce excessive logging in YAML detector tests
  tests/integration/yaml_detector_test.go
Due: none

docs(datastores): Document WritableStore API
  docs/docs/detectors/datastore-api.md
Due: none

feat(datastores): Add IP reputation store reference implementation
  api/v1beta1/datastores/ipreputation.pb.go
  api/v1beta1/datastores/ipreputation.pb.json.go
  api/v1beta1/datastores/ipreputation.proto
  pkg/datastores/ipreputation/store.go
  pkg/datastores/ipreputation/store_test.go
  pkg/datastores/ipreputation/types.go
Due: unit, integration

Deployed f212bb6bd to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/detectors/datastore-api/index.html
  dev/docs/install/docker/index.html
  dev/search/search_index.json
Due: none

ebpf: remove retval from event_context_t
  pkg/bufferdecoder/decoder.go
  pkg/bufferdecoder/decoder_test.go
  pkg/bufferdecoder/protocol.go
  pkg/ebpf/c/common/buffer.h
  pkg/ebpf/c/common/network.h
  pkg/ebpf/c/common/probes.h
  pkg/ebpf/c/tracee.bpf.c
  pkg/ebpf/c/types.h
  pkg/ebpf/events_pipeline.go
  pkg/ebpf/events_pipeline_bench_test.go
  pkg/ebpf/tracee.go
  pkg/events/conversion.go
  pkg/events/core.go
  pkg/events/derive/net_packet_helpers.go
  pkg/events/derive/net_packet_helpers_test.go
Due: unit, integration

docs: update config examples to match current code
  examples/config/global_config.json
  examples/config/global_config.yaml
Due: none

fix(printer): flush JSON output immediately to stdout/stderr
  pkg/cmd/printer/printer.go
Due: unit, integration

ebpf: fix execve/execveat returnValue index corruption
  pkg/ebpf/c/tracee.bpf.c
Due: unit, integration

docs: restructure and improve documentation
  docs/docs/detectors/datastore-api.md
  docs/docs/flags/config.1.md
  docs/docs/flags/output.1.md
  docs/docs/forensics.md
  docs/docs/install/config/cli.md
  docs/docs/install/config/index.md
  docs/docs/install/config/monitoring.md
  docs/docs/install/container-engines.md
  docs/docs/install/healthz.md
  docs/docs/install/index.md
  docs/docs/install/prometheus.md
  docs/docs/outputs/event-structure.md
  docs/docs/outputs/index.md
  docs/docs/outputs/logging.md
  docs/docs/outputs/output-formats.md
  docs/docs/outputs/output-options.md
  docs/docs/outputs/sorting-events.md
  docs/docs/outputs/streams.md
  docs/docs/policies/usage/cli.md
  docs/man/config.1
  docs/man/output.1
  mkdocs.yml
Due: none

docs: fix bullet list formatting in datastore-api
  docs/docs/detectors/datastore-api.md
Due: none

Deployed 71c4fdbd4 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/detectors/datastore-api/index.html
  dev/docs/install/docker/index.html
  dev/search/search_index.json
Due: none

test(detectors): add common test helpers
  detectors/test_helpers.go
Due: none

feat(detectors): migrate hidden_file_created signature to detector framework
  detectors/go.mod
  detectors/go.sum
  detectors/hidden_file_created.go
  detectors/hidden_file_created_test.go
  signatures/golang/export.go
  signatures/golang/hidden_file_created.go
  signatures/golang/hidden_file_created_test.go
Due: unit

feat(detectors): migrate kubernetes_api_connection signature to detector
  detectors/kubernetes_api_connection.go
  detectors/kubernetes_api_connection_test.go
  signatures/golang/kubernetes_api_connection.go
  signatures/golang/kubernetes_api_connection_test.go
Due: unit

feat(detectors): migrate proc_fops_hooking signature to detector
  detectors/proc_fops_hooking.go
  detectors/proc_fops_hooking_test.go
  signatures/golang/export.go
  signatures/golang/proc_fops_hooking.go
  signatures/golang/proc_fops_hooking_test.go
Due: unit

feat(detectors): migrate ptrace_code_injection signature to detector
  detectors/ptrace_code_injection.go
  detectors/ptrace_code_injection_test.go
  signatures/golang/export.go
  signatures/golang/ptrace_code_injection.go
  signatures/golang/ptrace_code_injection_test.go
Due: unit

feat(detectors): migrate disk_mount signature to detector
  detectors/disk_mount.go
  detectors/disk_mount_test.go
  signatures/golang/disk_mount.go
  signatures/golang/disk_mount_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate sched_debug_recon signature to detector
  detectors/sched_debug_recon.go
  detectors/sched_debug_recon_test.go
  signatures/golang/export.go
  signatures/golang/sched_debug_recon.go
  signatures/golang/sched_debug_recon_test.go
Due: unit

feat(detectors): migrate default_loader_modification signature to detector
  detectors/default_loader_modification.go
  detectors/default_loader_modification_test.go
  signatures/golang/default_loader_modification.go
  signatures/golang/default_loader_modification_test.go
  signatures/golang/export.go
Due: unit

feat(detectors): migrate stdio_over_socket signature to detector
  detectors/stdio_over_socket.go
  detectors/stdio_over_socket_test.go
  signatures/golang/export.go
  signatures/golang/stdio_over_socket.go
  signatures/golang/stdio_over_socket_test.go
Due: unit

feat(detectors): migrate rcd_modification signature to detector
  detectors/rcd_modification.go
  detectors/rcd_modification_test.go
  signatures/golang/export.go
  signatures/golang/rcd_modification.go
  signatures/golang/rcd_modification_test.go
Due: unit

detection: add Detected() and DetectedWithData() helper functions
  api/v1beta1/detection/detector.go
  detectors/example_detector.go
  docs/docs/detectors/api-reference.md
  docs/docs/detectors/quickstart.md
Due: none

Path conditions:
  unit: any of: cmd/, pkg/, signatures/
  integration: any of: cmd/, pkg/
